<div class="homeContentInvite homeContent <%= css_class %>">
    <div class="homeInviteTitle">invite your peers</div>
    <div class="homeInviteText">Please be aware the only people that are to be invited are other enterprise IT end users. Please do not invite VARs or vendor sales reps.</div>
    <div class="inviteButton" id="inviteButton" data="<%= current_user.full_name %>">send invite</div>
  </div>
