<% if @friends.include? @user %>
    <div class="profileButton profileDeleted"><a href="#deleteUser" rel="modal:open">UNFRIEND</a></div>

  <% elsif @pending.include? @user %>
    <div class="profileButton profilePending">PENDING</div>
  <% elsif @requested.include? @user %>
    <div class="profileButton profilePending"><%= link_to "ACCEPT REQUEST", accept_friendship_path(@friendship), method: :put %></div>
  <% elsif @blocked.include? @user %>
    <div class="profileButton deleteButton">
      <%= link_to "UNBLOCK", destroy_friendship_path(@user), method: :post %>
    </div>
  <% elsif @blocking.include? @user %>
    <div class="profileButton profilePending">PENDING</div>
  <% else %>
    <div class="profileButton profileConnect blue-bg-link">
      <a href="#connectUser" rel="modal:open">
      CONNECT</a>
    </div>
  <% end %>






<div class="profileButton profileMessage blue-bg-link"><a href="/messages/new/<%= @user.id %>">SEND MESSAGE</a>
</div>
