<%= render "layouts/header" %>
<div class="pageWrap responsive pageHome">
<div class="errorHeader">About ETR</div>

  <div class="aboutText">
    Enterprise Technology Research (ETR) unites high-level enterprise technology end users around the world for the purposes of real-time peer benchmarking, research and networking. The result is an IT end user idea exchange free of vendors, resellers &amp; conflicted interest research firms.
<br>
<br>
Enterprise Technology Research is the only technology market research firm that...
<br>
<br>
- Never charges our enterprise IT end user respondents a single penny, ever.
<br>
<br>
- Brings you real-time survey-based research with no lag time between polling and results.
<br>
<br>
- Provides managed introductions to your enterprise IT end user peers.
<br><br>
- Has a boutique R&amp;D lab (ETR&amp;D) bringing to life the technologies you, our respondents, need and want for their organizations and then matches our members as mentors to the start-ups.
<br><br>
- Delivers dynamic excel files of survey results for richer and deeper data mining after polling is completed.
<br><br>
- Achieves sample sizes in excess of 600 within 4 weeks and over 350 in 48 hours of polling.
<br><br>
- Never poses a survey that could take greater than 12 minutes to complete - and on average take 4-5 minutes to complete.
<br><br>
- Is fully compliant with vendors' NDA policies.
<br><br>
- Has an upcoming conference exclusively for and FREE to our enterprise IT end user respondents to present to and network with one another (in NYC).
<br><br>
- Will launch a website (FITO) exclusively for our group members, completely free of vendors, consultants and resellers - a free peer-to-peer communication platform like no other for enterprise IT end users.
<br><br>

Additionally, the sample is comprised of approximately 61% large enterprises, of which 70% are North American based. ETR has now conducted 19 standardized spending intention surveys and has accurately forecast numerous occurrences of significant growth by formerly unknown technology vendors, as well as the unexpected missteps by many other vendors that were once thought bullet-proof.
<br><br>
It is our belief that our forward-looking data and analytics model can dramatically aid enterprise IT end users and CIOs to identify which of their vendors are most at-risk and therefore, most prone to price leveraging. In the ever-evolving enterprise technology landscape, ETR can also highlight vendors that deserve to be evaluated immediately.
<br><br>
Our surveys routinely capture a sample size of over 250 people within 24 hours and we routinely close surveys after 4-5 weeks with samples of over 600. This goes to prove our ability to gain valuable data in near real-time. As soon as members submit their questionnaires, they are provided with live and secure links to the real-time polling data so that they may track the data and results.
  </div>



  <div class="footerMargin"></div>

</div>



<%= render "layouts/footer" %>
