<%= render "layouts/header" %>
<div class="pageWrap">
  <div class="pageHeader">Profile</div>

  <div class="searchWrapper">

  <%= link_to "Admin Views", admin_path %>

  </div>

  <div class="footerMargin"></div>
</div>



<%= render "layouts/footer" %>
