<%= render "layouts/header" %>
<div class="pageWrap">
  <div class="pageHeader">Search</div>

  <div class="searchWrapper">

    <% @users.each do |user| %>
      <div class="userList">
          <div class="userListName"><%= user.email %></div>
          <div class="userListAddBtn">
            <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
          </div>

        </div>
    <% end %>


  </div>

  <div class="footerMargin"></div>
</div>



<%= render "layouts/footer" %>
