<%= render "layouts/header" %>
<div class="pageWrap">

  <div class="pageHeader">Unauthorized User</div>

  Sorry, but you do not have access to that content. Please contact us if you think this is a mistake.

  <div class="footerMargin"></div>

</div>


<%= render "layouts/footer" %>
