

.connectionRequestsWrapper {
  margin-top: 40px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 40px;
}

.connectionRequest {
  height: 250px;
  margin-bottom: 20px;
  background-color: #f2f3f4;
  color: #737373;
}

.connectionRequestPic {
  width: 250px;
  height: 250px;
  overflow: hidden;
  float:left;
}

.connectionRequestPic img {
  width: 100%;
  float:left;
}

.connectionRequestInfo {
  float:left;
  width: 750px;
  padding: 35px 35px 0 35px;
}

.connectionReqDate {
  float:right;
}

.connectionReqName {
  color: #3eb2cc;
  font-size: 20px;
}

.connectionReqCompany {
  font-size: 20px;
  margin-bottom: 5px;
}

.connectionReqIndustry, .connectionReqMsg, .connectionReqSimilarity {
  font-family: "PNLight";
  font-size: 14px;
}

.connectionReqIndustry {

}

.connectionReqSimilarity {
  color: #3eb2cc;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.connectionReqMsg {
  font-family: "LoraReg";
  font-size: 20px;
  margin-bottom: 10px;
}


.connectionRequestAction {
  all: default;
  height:250px;
  width:125px;
  float:right;
}

.connectionRequestAction span {
  display:block;
  height: 125px;
  width:125px;
  color: #FFFFFF;
  line-height: 125px;
  text-align: center;
  text-transform: uppercase;
}

.connectionRequestAction span * {
  all: inherit;
}
.connectionButtonAccept {
  background-color: #3eb2cc;
}

.connectionButtonReject {
  color: #767676 !important;
  background-color: #cbd0d2;
}

.myConnsWrapper {

  color: #737373;
}

.myConnsHeaderBar {
  height: 60px;
  line-height: 60px;
  padding: 0 25px;
  background-color: #e5e8e9;
}

.myConnsRightFloat {
  float:right;
  color: #282b30;
  height: 60px;
}

.myConnsSearchButton, .myConnsLabel {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 10px;
  font-size: 20px;
}

.myConnFiller {
  height: 20px;
  background-color: #f2f3f4;

}

.myConnection {
  background-color: #f2f3f4;
  padding: 10px 25px 0 25px;

}

.myConnWrapper {
  height: 140px;
  border-bottom: 1px solid #cbd0d2;
  padding-bottom: 10px;
}

.myConnProfilePic {
  height:130px;
  width:130px;
  float:left;
  overflow: hidden;
}

.myConnProfilePic img {
  width: 130px;

}

.myConnInfo {
  padding: 20px;
  font-size: 20px;
  float:left;
}

.myConnName {
  color: #3eb2cc;
}

.myConnIndustry {
  font-size: 14px;
  font-family: "PNLight";
}

.myConnCompany {
  margin-bottom: 10px;
}

.myConnMessage {
  float:right;
  line-height: 140px;
  color: #3eb2cc;
  text-transform: uppercase;
}

.connectionsPagination {
  height: 40px;
  background-color: #f2f3f4;
}


// friends confirmation page

.friendConfirmWrapper {
  padding-left: 25px;
  padding-right: 25px;
  min-height: 280px;
}

.submitFriendsBtns {
  color: #FFF;
}

.yesFriendBtn, .noFriendBtn {
  all: inherit;
  margin-top: 20px;
  display: inline-block;
  margin-right: 20px;
  width: 100px;
  height: 50px;
  color: #FFF;
  background-color: #3eb2cc;
  text-align: center;
  line-height: 50px;

}

.noFriendBtn {
  background-color: #34373d;
}

.noConnectionsMade {
  text-align: center;

  font-size: 32px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
  font-family: "PNLight";
  font-style: italic;
}


