

.connectionRequestsWrapper {
  margin: 40px 25px 0 25px;
  background-color: #f2f3f4 !important;
  .formHeader {
    margin-bottom: 30px;
  }
}

.connectionsWrapper {
  margin: 40px 25px 0 25px;
  height: auto;
  min-height: 0 !important;
}

.connectionRequest {
  height: 200px;
  margin: 0 30px;
  margin-bottom: 20px;
  background-color: #e5e8e9;
  color: #737373;
}

.connectionRequestPic {
  width: 200px;
  height: 200px;
  overflow: hidden;
  float:left;
}

.connectionRequestPic img {
  width: 100%;
  float:left;
}

.connectionRequestInfo {
  float:left;
  width: 580px;
  padding: 30px;
}

.connectionReqDate {
  float:right;
  font-size: 14px;
}

.connectionReqName {
  color: #3eb2cc;
  font-size: 14px;
}

.connectionReqCompany {
  font-size: 14px;
  margin-bottom: 5px;
}

.connectionReqIndustry, .connectionReqMsg, .connectionReqSimilarity {
  font-family: "PNLight";
  font-size: 12px;
}

.connectionReqIndustry {

}

.connectionReqSimilarity {
  color: #3eb2cc;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.connectionReqMsg {
  font-family: "LoraReg";
  font-size: 14px;
  margin-bottom: 10px;
}


.connectionRequestAction {
  height:200px;
  width:100px;
  float:right;
  cursor: pointer;
}

.connectionRequestAction span {
  display:block;
  height: 100px;
  width:100px;
  color: #FFFFFF;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
}

.connectionRequestAction span * {
  text-transform: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: inherit;
  cursor: pointer;
}
.connectionButtonAccept {
  background-color: #3eb2cc;
}

.connectionButtonReject {
  color: #767676 !important;
  background-color: #cbd0d2;
}

.myConnsWrapper {

  color: #737373;
}

.myConnsHeaderBar {
  height: 60px;
  line-height: 60px;
  padding: 0 25px;
  background-color: #e5e8e9;
}

.myConnsRightFloat {
  float:right;
  color: #282b30;
  height: 60px;
}

.myConnsSearchButton, .myConnsLabel {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 10px;
  font-size: 14px;
}

.myConnFiller {
  height: 20px;
  background-color: #f2f3f4;

}

.myConnection {
  background-color: #f2f3f4;
  padding: 10px 20px 0 20px;

}

.myConnWrapper {
  height: 140px;
  border-bottom: 1px solid #cbd0d2;
  padding-bottom: 10px;
}

.myConnection:last-child myConnWrapper {
  border-bottom: none;
}

.myConnProfilePic {
  height:130px;
  width:130px;
  float:left;
  overflow: hidden;
}

.myConnProfilePic img {
  width: 130px;

}

.myConnInfo {
  padding: 20px;
  font-size: 14px;
  float:left;
}

.myConnName {
  color: #3eb2cc;
}

.myConnIndustry {
  font-size: 14px;
  font-family: "PNLight";
}

.myConnCompany {
  margin-bottom: 10px;
}

.myConnMessage {
  float:right;
  line-height: 130px;
  color: #3eb2cc;
  text-transform: uppercase;
  .icon {
    display: inline-block;
    position: relative;
    margin-left:3px;
    top: 2px;
  }
}

.connectionsPagination {
  height: 40px;
  background-color: #f2f3f4;
}


// friends confirmation page

.friendConfirmWrapper {
  padding-left: 25px;
  padding-right: 25px;
  min-height: 280px;
}

.submitFriendsBtns {
  color: #FFF;
}

.yesFriendBtn, .noFriendBtn {
  all: inherit;
  margin-top: 20px;
  display: inline-block;
  margin-right: 20px;
  width: 100px;
  height: 50px;
  color: #FFF;
  background-color: #3eb2cc;
  text-align: center;
  line-height: 50px;

}

.noFriendBtn {
  background-color: #34373d;
}

.noConnectionsMade {
  text-align: center;

  font-size: 32px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
  font-family: "PNLight";
  font-style: italic;
}

.searchConnsInput {
  display: inline-block;
  float: right;
  margin-right: 0;
  width: 0;
  opacity: 0;
  transition: all 0.5s ease;
  input {
    margin-left: 5px;
    width: inherit;
    padding-left: 5px;
    height: 30px;
  }
}
.searchConnsInput.active {
  opacity: 1;
  width: 140px;
  margin-right: 15px;
}

