.cmsWrapper {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 40px;
}

.contentHeader {
  font-size: 24px;
  margin-bottom: 30px;
}


.cmsImageUpload {
  padding: 25px;
  min-height: 550px;
  float:left;

}

.cmsImageUploadButton {
  background-color: #cbd0d2;
  width: 300px;
  height: 200px;
  background-size: 300px auto;
}

.customFileInput {
  display: none;
}




.cmsNewsSection {
  float: right;
  margin-top: 25px;
  margin-right: 25px;
  width: 61%;
  div {
    input, textarea {
      margin-bottom: 10px;
    }
  }
}

.cmsEditHeader {
  color: #767676;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 3px;

}

.cmsTextArea {
  width: 100%;


}

.cmsBoxRow {
  text-align: justify;
  font-size: 0.1px;
  margin-top: 10px;
}

.cmsBoxRow:after {
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}

.cmsBoxCol {
  display: inline-block;
  width: 48%;
}

.cmsSaveButton {
  float:right;
  width: 20%;
  margin-top: 25px;
  margin-bottom: 40px;
  margin-right: 25px;
  span {
    display: block;
    height: 45px;
    color: #FFFFFF;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    background-color: #3eb2cc;
    cursor: pointer;
  }
  span * {
    all: inherit;
    width: 100%;
  }
}


.cmsBoxRowUneven {
  margin: 15px 25px 0 25px;
}

.calloutBox {
  margin-right:50px;
  position: relative;
  top: 13px;
}

.callButton {
  display: inline-block;
  width: 55px;
}


.callOutRow {
  margin: 0 25px;
  margin-top: 10px;
}

.bottomRow {
  margin-bottom: 25px;
}

.col-layout-3 {
  width: 31%;
}

.col-layout-2 {
  width: 48%;
}

.col-layout-1 {
  width: 100%;
}

.cmsBox {
  margin: 25px;
  div {
    input {
      margin-bottom: 10px;
    }
  }
}



.imageUpload div {
  float:left;
  display: inline-block;
  margin-right: 30px;
}

.uploadPhotoButton {
  background-color: #767676;
  color: #FFF;
  height: 30px;
  line-height: 30px;
  width: 170px;
  text-align: center;
  float:right;
}


.contentField {
  border: 1px solid #767676;
  width: 100%;
  margin-bottom: 10px;
}

.linkCopySubSection {
  width: 45%;
  display: inline-block;
  margin-right: 35px;
  float:left;
}


.homepageLayoutImage {
  background-color: #767676;
  width: 100%;
  height: 150px;
  margin-bottom: 15px;
  color: #FFF;
  text-align: center;
  line-height: 150px;
  cursor: pointer;
}


.columnTag {
  float: left;
  display: inline-block;
  padding-right: 20px;
}

.columnLayout {
  overflow:hidden;
}




.activeLayout {
  display: block;
}

.columnField {
  height: 220px;
}

.hiddenLayoutOptionField {
  display: none;
}







.column-3 {
  width: 25%;
}

.column-4 {
  width: 33.333%;
}

.column-6 {
  width: 50%;
}

.column-8 {
  width: 66.666%;
}

.column-9 {
  width: 75%;
}

.column-12 {
  width: 100%;
}

.column-right {
  padding-left: 40px;
}
