.wrapper-dropdown {
  display: inline-block;
  position: relative;
  outline: none;
  cursor: pointer;

  padding-left: 10px;
  padding-right: 10px;
  margin-right: 16px;

  width: 299px;
  height: 60px;
  line-height: 60px;

  background: transparent;
  border: 1px solid #d8dcdd;

}

.carrot {
  float: right;
  line-height: 60px;
  font-size: 10px;
  padding-right: 10px;
}

.wrapper-dropdown .dropdown {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: inherit;
  list-style-type: none;
  margin-top: -2px;
  z-index: 2;
}

.dropdown.active {
  opacity: 1;
  pointer-events: auto;
  background: white;
  width: 298px;
  margin-left: -11px;
  border: 1px solid #d8dcdd;
  max-height: 180px;
  overflow: auto;
}

.wrapper-dropdown-1.active {
  background: #F1F1F1;
}

.ddFilter {
  border: none;
  width: 130px;
  margin-right: 0;
  text-align:right;
}

.ddFilterSelect.active {
  padding-left: 10px;
  width: 130px;
  .ddOption {
    line-height: 40px;
    text-align: center;
  }
}

.searchSideBarWrapperDropdown {
  background-color: inherit !important;
  border: none !important;
  height: 35px !important;
  margin-top: -10px !important;
  width: 150% !important;
}

.searchDropdown {
  background-color: #282b30 !important;
  max-height: 0px;
  transition: max-height 0.5s ease;
}
.searchDropdown.active {
  padding-left: 15px !important;
  margin-left: -14px !important;
  z-index: 2;
  border: none !important;
  max-height: 180px;
  :hover {
    color: #3eb2cc;
  }
}

.searchSideBarDropdown {
  transition: color 0.5s ease;
}

.searchSideBarDropdown.active {
  color: white;
}

.searchDDLabel.active {
  color: white;
}
