@font-face {
  font-family: "fito-r01";
  src:font-url("fito-r01.eot");
  src:font-url("fito-r01.eot?#iefix") format("embedded-opentype"),
    font-url("fito-r01.woff") format("woff"),
    font-url("fito-r01.ttf") format("truetype"),
    font-url("fito-r01.svg#fito-r01") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "fito-r01" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fito-r01" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-carot:before {
  content: "a";
}
.icon-drop-dwn-arrow:before {
  content: "b";
}
.icon-fwd-arrow:before {
  content: "c";
}
.icon-icon-add:before {
  content: "d";
}
.icon-icon-close:before {
  content: "e";
}
.icon-icon-in:before {
  content: "f";
}
.icon-icon-industry:before {
  content: "g";
}
.icon-icon-location:before {
  content: "h";
}
.icon-icon-mail:before {
  content: "i";
}
.icon-icon-onboarding-account-details:before {
  content: "j";
}
.icon-icon-onboarding-password:before {
  content: "k";
}
.icon-icon-onboarding-profile:before {
  content: "l";
}
.icon-icon-profile:before {
  content: "m";
}
.icon-icon-search:before {
  content: "n";
}
.icon-icon-settings:before {
  content: "o";
}
.icon-icon-text-bold:before {
  content: "p";
}
.icon-icon-text-italic:before {
  content: "q";
}
.icon-icon-text-link:before {
  content: "r";
}
.icon-icon-text-underline:before {
  content: "s";
}
.icon-icon-upload-image:before {
  content: "t";
}
.icon-selection-false:before {
  content: "u";
}
.icon-selection-true:before {
  content: "v";
}
.icon-icon-burger-bar:before {
  content: "w";
}
.icon-icon-calendar:before {
  content: "x";
}
.icon-icon-check:before {
  content: "y";
}
.icon-icon-dash:before {
  content: "z";
}
.icon-icon-left-arrow:before {
  content: "A";
}
.icon-icon-left-nubsdark-gray:before {
  content: "B";
}
.icon-icon-multiple-people:before {
  content: "C";
}
.icon-icon-top-nubs-gray:before {
  content: "D";
}
.icon-icon-write-message-button:before {
  content: "E";
}
