* {
  box-sizing: border-box;
}


@font-face {
  font-family: "LoraBold";
  src: font-url('lora/Lora-Bold.ttf');
}

@font-face {
  font-family: "LoraBoldItalic";
  src: font-url('lora/Lora-BoldItalic.ttf');
}

@font-face {
  font-family: "LoraItalic";
  src: font-url('lora/Lora-Italic.ttf');
}

@font-face {
  font-family: "LoraReg";
  src: font-url('lora/Lora-Regular.ttf');
}


@font-face {
  font-family: "PNLight";
  src: font-url('proximaNova/ProximaNova-Light.otf');
}

@font-face {
  font-family: "PNBold";
  src: font-url('proximaNova/ProximaNova-Sbold.otf');
}

@font-face {
  font-family: "PNReg";
  src: font-url('proximaNova/ProximaNova-Reg.otf');
}

@font-face {
  font-family: "PNThin";
  src: font-url('proximaNova/ProximaNova-Thin.otf');
}




// sticky footer

body {
  margin: 0;
  background-color: #cbd0d2;
}

a {
  all: inherit;
  margin: 0;
  padding:0;
}

textarea, input, select {
  resize: none;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  font-family: "PNReg";
  color: #797C7F;
}


.pageWrap {
  min-height: 100%;
  width: 1386px;
  margin: 0 auto;
  margin-bottom: -300px;
  padding-top: 80px;
  font-family: "PNBold";

  background-color: white;
}

.flashMessages {
  margin-left: 117px;
  color: #33CC33;
  margin-bottom: 20px;
}

.pageWrap:after {
  content: "";
  display: block;
  height: 300px;
}

.pageHeader {
  padding-left: 117px;
  font-size: 24px;
  color: #3eb2cc;
  text-transform: uppercase;
  // margin-top: 15px;
  margin-bottom: 30px;
}

.floatHeader {
  float: left;
}


.footer {
  background-color: #34373d;
  height: 300px;
  color: #f2f3f4;

}

.footerMargin {
  height: 50px;
  background-color: #cbd0d2;
}

.formHeader {
  height: 50px;
  line-height: 50px;
  color: #3eb2cc;
  font-size: 18px;
  background-color: #282b30;
  padding-left: 30px;
}

.formBox {
  background-color: #e5e8e9;
  min-height: 300px;
  margin-bottom: 30px;
  overflow: hidden;
}

.floatHeader {
  float:left;
  display: inline-block;
  margin-top: 0;
}

.pageHeaderBar {
  overflow: hidden;
  padding-right: 117px;
}

.field input, .wrapperFieldDropdown {
  border-radius: 3px;
  border: 1px solid #D8DCDD;
  padding-left: 15px;
  width: 100%;
  height: 45px;
}

.wrapperFieldDropdown {
  background-color: white;
  font-size: 14px;
  font-family: "PNReg";
  color: #797C7F;
  line-height: 45px;
  .carrot {
    line-height: inherit;
  }
}
.wrapperFieldDropdown.active {
  border: 1px solid #3eb2cc;
}

.fieldDropdown.active {
  width: 100.6%;
  margin-left: -16px;
  padding-left: 0;
  margin-top: 15px;
}

.ddOption {
  padding-left: 25px;
}
.ddOption:hover {
  background-color: #3eb2cc;
  color: #FFFFFF;

}



.field-area textarea {
  padding-left: 15px;
  padding-top: 15px;
  border-radius: 3px;
  border: 1px solid #D8DCDD;
  width: 100%;
  height: 100%;
}

// icon global rules:
.icon-selection-true {
  color: #3eb2cc !important;
}

.icon-selection-false {
  color: #cbd0d2 !important;
}


@media only screen
and (min-device-width : 1280px)
and (max-device-width : 1386px) {


}

@media only screen
and (min-device-width : 1386px) {

  .pageWrap {
    width: 1386px;
  }

}


