.header {
  background-color: #282b30;
  height: 90px;
  color: #FFFFFF;
  line-height: 90px;
  font-family: "PNBold";
  font-weight: 600;
  font-size: 16px;
}

.adminHeader {
  background-color: #3eb2cc;
}

.headerWrapper {
  width: 1386px;
  margin: 0 auto;
}

.logo {
  float: left;
}

.navBar {
  float: right;
  margin-right: -6px;
}

.hoverDiv {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  margin-left: 70px;
  letter-spacing: 0.20em;
  float:left;
}

.hoverDiv:hover {
  color: #3eb2cc;
}

.adminHover:hover {
  color: black;
}

.menuIcon {
  font-size: 38px;
  position: relative;
  top: 7px;
  cursor: pointer;
}

.mailMenuDrop {
  display: none;
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: #FFF;
  right: 250px;
  top: 60px;
  border: 1px solid #d8dcdd;
  box-shadow: 2px 2px 5px #888888;
}

.mailMenuDrop.active {
  display: block;
}

.adminMenuIcon {
  height: 25px;
}

.mailMenuIcon.active {
  color: #3eb2cc;
}

.menuLogo {
  height: 35px;
  width: auto;
  vertical-align: middle;
}
.adminMenuLogo {
  height: 20px;
}
