.header {
  background-color: #282b30;
  height: 90px;
  color: #FFFFFF;
  line-height: 90px;
  font-family: "PNBold";
  font-weight: 600;
  font-size: 12px;
}

.adminHeader {
  background-color: #3eb2cc;
}

.headerWrapper {
  width: 1020px;
  margin: 0 auto;
}

.logo {
  float: left;
}

.navBar {
  float: right;
  margin-right: -6px;
}

.hoverDiv {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  margin-left: 50px;
  letter-spacing: 0.20em;
  float:left;
}

.hoverDiv:hover {
  color: #3eb2cc;
}
.hoverDiv.active {
  color: #3eb2cc;
}

.notificationMenuIcon {
  display: inline-block;
  float:left;
  letter-spacing: 0.20em;
  text-decoration: none;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: #3eb2cc;
  margin-top: 30px;
  a {
    position: relative;
    background-color: transparent;
    text-align: center;
    top: -29px;
    left: 1px;
  }
}

.adminHover:hover {
  color: black;
}
.adminHover.active {
  color: black;
}

.menuIcon {
  font-size: 30px;
  position: relative;
  top: 5px;
  cursor: pointer;
}

.mailMenuDrop {
  display: none;
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: #FFF;
  right: 250px;
  top: 60px;
  border: 1px solid #d8dcdd;
  box-shadow: 2px 2px 5px #888888;
}

.mailMenuDrop.active {
  display: block;
}

.adminMenuIcon {
  height: 25px;
  top: 8px;
}

.mailMenuIcon.active {
  color: #3eb2cc;
}

.menuLogo {
  height: 28px;
  width: auto;
  vertical-align: middle;
}
.adminMenuLogo {
  height: 20px;
}
