.searchBarHomeWrapper {
  margin-left: 117px;
  text-transform: uppercase;
  font-family: "PNBold";
  font-size: 14px;
}

.searchBarHomeLabel {
  font-size: 18px;
  color: #797c7f;
  margin-bottom: 15px;
}

.searchBarHome {
  width: 100%;
}

.homeAddIntentions {
  width: 299px;
  height: 60px;
  display: inline-block;
  margin-right: 16px;
  div {
    font-size: 14px;
    font-family: "PNBold";
  }
}
.homePageIntentionsList {
  padding-right: 117px;
}

.searchBarHomeAdvancedOptions {
  color: #3eb2cc;
  margin-top: 10px;
  margin-bottom: 25px;
  cursor: pointer;
  div {
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: 1px;
  }
}

.homePageAdvancedRow {
  padding-right: 117px;
  display: none;
  height: 0px;
  transition: height 2s ease;
}
.homePageAdvancedRow.active {
  display: block;
  height: auto;
}

.searchButton {
  color: white;
  font-size: 10px;
  text-align: center;

  display: inline-block;

  border-radius: 0;
  background: #3eb2cc;
  height: 60px;
  width: 192px;
  line-height: 60px;

  letter-spacing: 0.10em;

  cursor: pointer;
}
.fixIt {
  position: relative;
  top: -1px;
}

.fa-chevron-right {
  padding-left: 5px;
}

// content


.homeContentWrapper {
  height: 946px;
  margin-top: 80px;
}

.homeContent {
  float:left;
  width: 100%;
  padding: 70px;
  font-family: "PNBold";
  font-size: 36px;
  color: #282b30;
}

.homeContentBox1 {
  width: 523px;
  height: inherit;
  float: left;
}

.homeContentBox2 {
  width: 863px;
  height: inherit;
  float: left;
}


.homeContentPic {
  height: 349px;
  padding: 0;
  img {
    width: 523px;
  }
}

.homeContentResearch {
  height: 465px;
  background-color: #e5e8e9;
}

.homeContentNews {
  height: 597px;
  background-color: #f2f3f4;
}

.homeContentFollowed {
  width: 537px;
  height: 481px;
  background-color: #cbd0d2;
}

.homeContentInvite {
  width: 326px;
  height: 481px;
  background-color: #f2f3f4;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 140px;
}

.homeContentLabel {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 20px;
  color: #737373;
}

.homeContentHeadline {
  border-left: 8px solid #34373d;
  margin-bottom: 20px;
  padding-left: 20px;
  max-width: 500px;
}

.newsDate {
  text-transform: uppercase;
  font-size: 12px;
  color: #737373;
}

.newsContent {
  font-size: 16px;
  font-color: #445058;
  font-family: "LoraReg";
}

.viewMoreContent {
  font-size: 14px;
  color: #3eb2cc;
  text-transform: uppercase;
  margin-top:10px;
  display: inline-block;
  div {
    display: inline-block;
    font-size: 15px;
  }
  .icon {
    position: relative;
    top: 2px;
    font-size: 13px;
    margin-left: 5px;
  }
}

.researchResults {
  overflow: auto;
}

.researchCol {
  float: left;
  width: 25%;
  display: inline-block;
  margin-right: 40px;
}

.researchNum {
  font-size: 70px;
  color: #3eb2cc;
  font-family: "PNLight";
}
.researchText {
  font-size: 16px;
  font-color: #445058;
  font-family: "LoraItalic";

}

.followedSearch {
  margin-bottom: 15px;
  width: 100%;
  overflow: auto;
}

.followedSearchTitle {
  font-size: 20px;
  color: #282b30;
}

.followedSearchDesc {
  font-size: 14px;
  color: #445058;
  font-family: "PNReg";
  margin-bottom: -10px;
}

.followedSearchRemove {
  margin-left: 20px;
  text-decoration: none;
}
.favRemoveText {
  display: inline-block;
  color: #282b30;
}

.noFollowedSearchesText {
  font-size: 18px;
  line-height: 26px;
  color: #282b30;
  text-transform: uppercase;
  text-align: center;
  margin-top: 70px;
}

.startSearchBtn {
  width: 254px;
  height: 60px;
  line-height: 54px;
  color: #3eb2cc;
  border: 6px solid #3eb2cc;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  margin-top: 70px;
  a {
    width: 245px;
  }
}


.searchesViewMore {
  float: right;
}

.homeInviteTitle {
  font-size: 18px;
  color: #282b30;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.homeInviteText {
  color: #445058;
  font-size: 16px;
  margin-bottom: 50px;
  font-family: "LoraReg";
}

.inviteButton {
  border: 6px solid #3eb2cc;
  text-transform: uppercase;
  color: #3eb2cc;
  height: 60px;
  font-size: 18px;
  line-height: 50px;
  margin: 0 auto;

}





// connections

.homeConnectionsHeader {
  height: 58px;
  line-height: 58px;
  font-size: 18px;
  text-transform: uppercase;
  padding-left: 20px;
  color: #737373;
  font-family: "PNBold";
}

.homeConnections {
  overflow: hidden;
  font-family: "PNBold";
  font-size: 14px;
  color: #FFFFFF;
}

.homeConnectionBox {
  float: left;
}

.homeConnectionProfile, .homeConnectionPic {
  height: 231px;
  width: 231px;
  float: left;
}


.homeConnectionProfile {
  background-color: #282b30;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
}

.homeConnectionPic img {
  height: 231px;;
}

.hcpTitle {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.hcpDesc {
  font-family: "PNReg";
  margin-bottom: 20px;
}

.hcpMsg, .hcpConnect {
  color: #3eb2cc;
  text-transform: uppercase;
  margin-bottom: 10px;
  cursor: pointer;
}


// index page styles


.fitoLandingFloat {
  background-color: transparent;
  float: left;
  position: relative;
  bottom: 700px;
  width: 100%;
}

.fitoLandingWrapper {

  margin: 0 auto;
  color: #FFFFFF;
  text-align: center;
}

.fitoLandingLogo {
  font-family: "PNReg";
  font-size: 40px;
  padding-bottom: 23px;
  border-bottom: 1px solid rgba(255,255,255,0.6);
  width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
  letter-spacing: 0.2em;
}
.fitoLandingText {
  font-family: "PNLight";
  font-size: 18px;
  margin: 0 auto;
  width: 400px;
  line-height: 30px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: rgba(255,255,255,0.6);

}

.fitoLandingSignInButton {
  font-family: "PNReg";
  font-size: 14px;
  color: rgba(255,255,255,0.6);
  border: 2px solid rgba(255,255,255,0.6);
  width: 185px;
  height: 50px;
  margin: 0 auto;
  line-height: 50px;
  letter-spacing: 0.2em;
  cursor: pointer;
}

.fitoLandingSignInButton:hover {
  color: #FFF;
  border: 2px solid #FFF;
}
.fitoLandingSignInWrapper {
  background-color: #282b30;
  float: left;
  width: 100%;
  padding-top: 60px;
  position: relative;
  bottom: 0;
  transition: bottom 0.3s ease-out;
  form {
    width: 435px;
    height: 500px;
    margin: 0 auto;
  }
}

.fitoLandingSignInWrapper.active {
  bottom: 750px;
}


.loginField {
  width: 435px;
  height: 47px;
  margin-bottom: 16px;
  border: 1px solid #3a3a3d;
}

.loginField input {
  background-color: #1a1b1f;
  font-family: "PNLight";
  font-size: 14px;
  padding-left: 15px;

}


