.searchBarHomeWrapper {
  margin-left: 25px;
  text-transform: uppercase;
  font-family: "PNBold";
  font-size: 14px;
}

.searchBarHomeLabel {
  font-size: 18px;
  color: #797c7f;
  margin-bottom: 15px;
}

.searchBarHome {
  width: 100%;
}

.homeAddIntentions {
  width: 24%;
  height: 60px;
  display: inline-block;
  margin-right: 16px;
  a {
    width: 100%;
  }
  div {
    font-size: 14px;
    font-family: "PNBold";
  }
}
.homePageIntentionsList {
  padding-right: 24px;
}

.searchBarHomeAdvancedOptions {
  color: #3eb2cc;
  margin-top: 10px;
  margin-bottom: 25px;
  cursor: pointer;
  div {
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: 1px;
  }
}

.homePageAdvancedRow {
  padding-right: 25px;
  display: none;
  height: 0px;
  transition: height 2s ease;
}
.homePageAdvancedRow.active {
  display: block;
  height: auto;
}

.searchButton {
  color: white;
  font-size: 14px;
  text-align: center;

  display: inline-block;

  border-radius: 0;
  background: #3eb2cc;
  height: 60px;
  width: 19.4%;
  line-height: 60px;

  letter-spacing: 0.10em;

  cursor: pointer;
}
.fixIt {
  position: relative;
  top: -1px;
}

.fa-chevron-right {
  padding-left: 5px;
}

// content


.homeContentWrapper {
  height: 956px;
  margin-top: 50px;
}

.homeContent {
  float:left;
  width: 100%;
  padding: 60px;
  font-family: "PNBold";
  font-size: 36px;
  color: #282b30;
}

.homeContentBox1 {
  width: 38%;
  height: inherit;
  float: left;
}

.homeContentBox2 {
  width: 62%;
  height: inherit;
  float: left;
}


.homeContentPic {
  height: 30%;
  padding: 0;
  img {
    width: 100%;
  }
}

.homeContentResearch {
  height: 51%;
  background-color: #e5e8e9;
}

.homeContentNews {
  height: 70%;
  background-color: #f2f3f4;
}

.homeContentFollowed {
  width: 62%;
  height: 49%;
  background-color: #cbd0d2;
}

.homeContentInvite {
  width: 38%;
  height: 49%;
  background-color: #f2f3f4;
  text-align: center;
  padding: 40px;
}

.homeContentLabel {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 10px;
  color: #737373;
}

.homeContentHeadline {
  // border-left: 8px solid #34373d;
  margin-bottom: 25px;
  // padding-left: 10px;
  max-width: 500px;
  line-height: 36px;
}

.newsDate {
  text-transform: uppercase;
  font-size: 12px;
  color: #737373;
  margin-bottom: -5px;
}

.newsHeadline {
  margin-top: -10px;
}

.newsContent {
  font-size: 14px;
  color: #445058;
  font-family: "LoraReg";
  line-height:20px;
  width: 90%;
}

.viewMoreContent {
  font-size: 14px;
  color: #3eb2cc;
  text-transform: uppercase;
  margin-top:10px;
  display: inline-block;
  letter-spacing: 0.025em;
  div {
    display: inline-block;
    font-size: 15px;
  }
  .icon {
    position: relative;
    top: 2px;
    font-size: 13px;
    margin-left: 5px;
  }
}

.researchResults {
  overflow: auto;
}

.researchCol {
  float: left;
  width: 27%;
  display: inline-block;
  margin-right: 30px;
}

.researchNum {
  font-size: 70px;
  color: #3eb2cc;
  font-family: "PNLight";
}
.researchText {
  font-size: 14px;
  color: #445058;
  font-family: "LoraItalic";
  margin-top: -3px;
  line-height: 20px;

}

.followedSearch {
  margin-bottom: 15px;
  width: 100%;
  overflow: auto;
}

.followedSearchTitle {
  font-size: 20px;
  color: #282b30;
}

.followedSearchDesc {
  font-size: 14px;
  color: #445058;
  font-family: "PNReg";
  margin-bottom: -10px;
}

.followedSearchRemove {
  margin-left: 20px;
  text-decoration: none;
}
.favRemoveText {
  display: inline-block;
  color: #282b30;
}

.noFollowedSearchesText {
  font-size: 18px;
  line-height: 26px;
  color: #282b30;
  text-transform: uppercase;
  text-align: center;
  margin-top: 55px;
}

.startSearchBtn {
  width: 254px;
  height: 60px;
  line-height: 54px;
  color: #3eb2cc;
  border: 6px solid #3eb2cc;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  letter-spacing: 0.1em;
  a {
    width: 245px;
  }
}


.searchesViewMore {
  float: right;
}

.homeInviteTitle {
  font-size: 18px;
  color: #282b30;
  text-transform: uppercase;
  margin-bottom: 20px;
  width: 108px;
  margin: 0 auto;
  margin-top: 50px;
}

.homeInviteText {
  color: #445058;
  font-size: 14px;
  margin-bottom: 40px;
  font-family: "LoraReg";
  margin-top: 10px;
  line-height: 20px;
}

.inviteButton {
  border: 6px solid #3eb2cc;
  text-transform: uppercase;
  color: #3eb2cc;
  height: 50px;
  font-size: 14px;
  line-height: 40px;
  margin: 0 auto;
  width: 160px;
  letter-spacing: 0.10em;

}





// connections

.homeConnectionsHeader {
  height: 58px;
  line-height: 58px;
  font-size: 18px;
  text-transform: uppercase;
  padding-left: 20px;
  color: #737373;
  font-family: "PNBold";
}

.homeConnections {
  overflow: hidden;
  font-family: "PNBold";
  font-size: 14px;
  color: #FFFFFF;
}

.homeConnectionBox {
  float: left;
  width: 340px;
}

.homeConnectionProfile, .homeConnectionPic {
  height: 170px;
  width: 170px;
  float: left;
}


.homeConnectionProfile {
  background-color: #282b30;
  padding: 20px;
}

.homeConnectionPic img {
  height: 170px;
}

.hcpTitle {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.hcpDesc {
  font-family: "PNReg";
  color: rgba(255,255,255,0.85);
  margin-bottom: 15px;
  max-width: 80%;
}

.hcpMsg, .hcpConnect {
  color: #3eb2cc;
  text-transform: uppercase;
  margin-bottom: 5px;
  cursor: pointer;
}


// index page styles


.fitoLandingFloat {
  background-color: transparent;
  float: left;
  position: relative;
  bottom: 700px;
  width: 100%;
}

.fitoLandingWrapper {

  margin: 0 auto;
  color: #FFFFFF;
  text-align: center;
}

.fitoLandingLogo {
  font-family: "PNReg";
  font-size: 40px;
  padding-bottom: 23px;
  border-bottom: 1px solid rgba(255,255,255,0.6);
  width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
  letter-spacing: 0.2em;
}
.fitoLandingText {
  font-family: "PNLight";
  font-size: 18px;
  margin: 0 auto;
  width: 400px;
  line-height: 30px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: rgba(255,255,255,0.6);

}

.fitoLandingSignInButton {
  font-family: "PNReg";
  font-size: 14px;
  color: rgba(255,255,255,0.6);
  border: 2px solid rgba(255,255,255,0.6);
  width: 185px;
  height: 50px;
  margin: 0 auto;
  line-height: 50px;
  letter-spacing: 0.2em;
  cursor: pointer;
}

.fitoLandingSignInButton:hover {
  color: #FFF;
  border: 2px solid #FFF;
}
.fitoLandingSignInWrapper {
  background-color: #282b30;
  float: left;
  width: 100%;
  padding-top: 60px;
  position: relative;
  bottom: 0;
  transition: bottom 0.3s ease-out;
  form {
    width: 435px;
    height: 500px;
    margin: 0 auto;
  }
}

.fitoLandingSignInWrapper.active {
  bottom: 750px;
}


.loginField {
  width: 435px;
  height: 47px;
  margin-bottom: 16px;

}

.loginField input {
  background-color: #1a1b1f;
  font-family: "PNLight";
  font-size: 14px;
  padding-left: 15px;
  border: 1px solid #3a3a3d;

}

.fitoLandingSignInSubmit {
  margin: 0 auto;
  margin-top: 90px;
  height: 50px;
  line-height: 50px;
  font-family: "PNReg";
  font-size: 14px;
  color: rgba(255,255,255,0.6);
  border: 2px solid rgba(255,255,255,0.6);
  width: 185px;
  letter-spacing: 0.2em;
  cursor: pointer;
  text-align: center;
}

.fitoLandingSignInSubmit:hover {
  color: #FFF;
  border: 2px solid #FFF;
}
