.messagesWrapper {
  padding-left: 117px;
  padding-right: 117px;

}

.messagesHeader {
  padding-right: 117px;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: -30px;
}

.messagesHeader > :first-child{
  float: left;
}

.composeButton {
  float: right;
  font-size: 14px;
  height: 50px;
  width: 200px;
  line-height: 52px;
}

.composeButton a {
  text-decoration: none;
  color: #FFFFFF;
}

.messagesBar {
  background-color: #282b30;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.inboxToggle, .searchMessagesButton, .sortLabel, .sortToggle {
  display: inline-block;

  text-transform: uppercase;
}

.inboxToggle, .sortLabel {
  font-family: "PNLight";
}

.messageCaret {
  padding-left: 10px;
}

.inboxToggle {
  .wrapper-dropdown {
    border: none;
    width: 110px;
    .carrot {
      position: relative;
      top: 2px;
    }
    .dropdown {
      width: 110px;
      color: #282b30;
    }
  }
}
.inboxToggle:hover {
  color: #3eb2cc;
}

.noMessages {
  text-align: center;

  font-size: 32px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
  font-family: "PNLight";
  font-style: italic;
}



.searchMsgsBarFloatRight {
  float:right;
}

.searchMessagesButton {
  margin-right: 16px;
  font-size: 18px;
}

.message {
  height: 200px;
  background-color: #f2f3f4;
  margin-bottom: 2px;
  padding: 30px;
  font-size: 14px;
}

.messageProfilePicBox {
  height: 140px;
  width: 140px;
  max-height:140px;
  float:left;
  overflow:hidden;
  img {
    width: 140px;
  }
}

.messageContentBox {
  float:left;
  width: 80%;
  margin-left: 30px;
  margin-top: -8px;
}
.messageTimeStamp {
  float:right;
  margin-top: -5px;
}

.messageName {
  color: #3eb2cc;
  float:left;
  margin-right: 10px;
}

.messageEmployer, .messageContent {
  color: #737373;
}

.messageUserInfo {
  margin-bottom: 10px;
}

.messageTitle {
  font-size: 18px;
  color: #797c7f;
  margin-bottom: 5px;
}

.messageTitle i {
  color: #3eb2cc;
  margin-right: 5px;
}

.messageContent {
  font-family: "LoraLight";
  font-size: 16px;
  min-height: 50px;
  max-height: 57px;
  overflow: hidden;
  margin-bottom: -5px;
}

.messagesPagination {
  margin-top: 20px;
  margin-bottom: 50px;
}

.newMessagesFormWrapper {
  padding: 0 117px;
  margin-bottom: 50px;
}

.newMessagesFormWrapper form {
  margin: 0 30px;
  padding-top: 30px;
  overflow: hidden;
  padding-bottom: 30px;
  font-size: 14px;
  font-family: "PNReg";
}

.newMsgFormControl, ul.tagit {
  margin-bottom: 10px;
  width: 100%;
  height: 45px;
  padding-left:20px;

}

.recipientsGroup {
  width: 80%;
  float:left;
}

.sendToAllGroup {
  display: inline-block;
  height:57px;
  line-height: 67px;
  float:right;
  .pubOrPrivBox {
    margin-left: 20px;
  }
}



.newMsgSubject, .newMessageArea {
  background-color: #FFFFFF;
  border: 2px solid #cbd0d2;
}

.newMessageArea {
  padding-top: 10px;
}

.newMessageArea {
  width: 100%;
  min-height: 300px;
}

.newMsgBtnSend {
  float:right;
  margin-top: 15px;
}

.newMsgBtnSend span {
  display:block;
  height: 30px;
  width:125px;
  color: #FFFFFF;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  background-color: #3eb2cc;
  cursor: pointer;
}

.newMsgBtnSend span * {
  all: inherit;
}

.replyFormHeader {
  color: #FFF;
  font-family: "PNLight";
  font-size: 14px;
}

.replyFormBody {
  min-height: 200px;
  padding: 25px;
  color: #737373;
  background-color: #e5e8e9;
}

.replyPicColumn {
  width: 175px;
  float: left;
  height: 100%;
  overflow: hidden;

}

.replyPic {
  height: 150px;
  width: 150px;
  overflow: hidden;
}

.replyPic img {
  width: 150px;

}

.replyContentColumn {
  margin-left: 175px;
}

.replyToFrom {
  font-size: 12px;
  padding-top: 5px;
  margin-bottom: 10px;
}

.senderInfo {
  font-family: "PNLight";
}

.replyFrom *,.replyTo * {
  display: inline-block;
}

.replyName {
  float:none;
  margin-right: 3px;
}

.replyBody {
  font-family: "LoraReg";
  margin-top: 10px;
  margin-bottom: 30px;
}

.replyTimeStamp {
  float:right;
  font-size: 12px;
  margin-top: -45px;
}

.replyTimeStamp div {
  display: inline-block;
}

.otherOptions, .replyButton {
  font-size: 14px;
}

.replyButton {
  color: #3eb2cc;
  margin-bottom: 5px;
  cursor: pointer;
}

.otherOptions * {
  display:inline-block;
  color: #282b30;
}

.showAllMessages {
  margin-right: 10px;

}

.numMessages {
  font-family: "PNLight";
}

.replyMsgFormGroup * {
  background-color: #e5e8e9;
  font-family: "PNBold";
  font-size:14px;
  margin-top: -1px;
}

.replyMsgFormGroup {
  font-size: 14px;
  font-family: "PNBold";
}

.replyForm {
  display: none;
}

.replyForm.active {
  display: block;
}

.newMsgFormControlHidden {
  display:none;
}

// send message to single user

.messageReplySingle {
  display: none;
  float:left;
  height:57px;
  line-height:57px;
  div {
    display: inline-block;
    font-family: "PNBold";
  }
  margin-bottom: 10px;
}

.showMsgSingle {
  display: block;
}

.messageReplyTo {
  color: #767676;
}

.messageReplyRecip {
  color: #3eb2cc;
}








