.messagesWrapper {
  padding-left: 117px;
  padding-right: 117px;

}

.messagesHeader {
  padding-right: 117px;
  margin-top: -15px;
  margin-bottom: 30px;
  min-height: 50px;
}

.messagesHeader > :first-child{
  float: left;
  margin-top: 15px;
}

.composeButton {
  float: right;
  font-size: 14px;
  height: 50px;
  width: 200px;
  line-height: 52px;
}

.composeButton a {
  text-decoration: none;
  color: #FFFFFF;
}

.messagesBar {
  background-color: #282b30;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.inboxToggle, .searchMessagesButton, .sortLabel, .sortToggle {
  display: inline-block;

  text-transform: uppercase;
}

.inboxToggle, .sortLabel {
  font-family: "PNLight";
  margin-right: -10px;
  float:left;
  // height: 50px;
  // line-height: 50px;
}


.inboxToggle {
  // .wrapper-dropdown {
  //   border: none;
  //   width: 110px;
  //   .carrot {
  //     position: relative;
  //     top: 2px;
  //     line-height: 50px;
  //   }
  //   .dropdown {
  //     width: 110px;
  //     color: #282b30;
  //   }
  // }
}
.inboxToggle:hover {
  // color: #3eb2cc;
}

.sortToggle {
  font-family: "PNBold";
}
.sortToggle:hover {
  color: #3eb2cc;
}

.noMessages {
  text-align: center;

  font-size: 36px;
  line-height: 40px;
  color: #797C80;
  max-width: 770px;
  margin: 0 auto;
  margin-top: 91px;

}

.startSearchFullBtn {
  margin-bottom: 77px;
}

.noMsgsWrap {
  border-bottom: 1px solid #797C80;
  margin: 0 117px;
  margin-bottom: 100px;
}


.searchMsgsBarFloatRight {
  float:right;
}

.searchMessagesButton {
  margin-right: 16px;
  font-size: 18px;
}

.message {
  height: 255px;
  background-color: #eff1f2;
  border-bottom: 2px solid #dcddde;
  padding: 30px;
  font-size: 14px;
}

.message.active {
  background-color: #fafbfb;
  margin-bottom: 0px;

}

.message:last-child {
  border-bottom: none;
}

.messageProfilePicBox {
  height: 140px;
  width: 140px;
  max-height:140px;
  float:left;
  overflow:hidden;
  img {
    width: 140px;
  }
}

.messageContentBox {
  float:left;
  width: 84%;
  margin-left: 30px;
  margin-top: 5px;
}
.messageTimeStamp {
  float:right;
  color: #797c7f;
}

.messageName {
  color: #3eb2cc;
  float:left;
  margin-right: 10px;
}

.messageEmployer, .messageContent {
  color: #737373;
}

.messageUserInfo {
  margin-bottom: 15px;
  div {
    display:inline-block;

  }
}

.messageTitle {
  font-size: 18px;
  color: #282b30;
  margin-bottom: 5px;
}

.messageTitle {
  .icon {
    color: #3eb2cc !important;
    margin-right: 5px;
    display: inline-block;
    font-size: 12px;
  }
}

.messageContent {
  display: block;
  display: -webkit-box;
  font-family: "LoraLight";
  font-size: 16px;
  min-height: 50px;
  max-height: 57px;
  width: 700px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;


}

.messageBottomInfo {
  margin-top: 50px;
}

.bottomRightMessageContent {
  float:right;
  margin-top: -40px;
}

.bottomRightMessagePics {
  overflow: auto;
  margin-bottom: 10px;
  div {
    width: 40px;
    height:40px;
    overflow:hidden;
    float:right;
    display: inline-block;
    margin-right:1px;
    img {
      width: 40px;
    }
  }
}

.bottomRightMessageInfo {
  color: #797c7f;
}




.messagesPagination {
  margin-top: 20px;
  margin-bottom: 50px;
}

.newMessagesFormWrapper {
  padding: 0 117px;
  margin-bottom: 50px;
}

.newMessagesFormWrapper form {
  margin: 0 30px;
  padding-top: 30px;
  overflow: hidden;
  padding-bottom: 30px;
  font-size: 14px;
  font-family: "PNReg";
}

.newMsgFormControl, ul.tagit {
  margin-bottom: 10px;
  width: 100%;
  height: 45px;
  padding-left:20px;

}

.recipientsGroup {
  width: 80%;
  float:left;
}

.sendToAllGroup {
  display: inline-block;
  height:57px;
  line-height: 67px;
  float:right;
  .pubOrPrivBox {
    margin-left: 20px;
  }
}



.newMsgSubject, .newMessageArea {
  background-color: #FFFFFF;
  border: 2px solid #cbd0d2;
}

.newMessageArea {
  padding-top: 10px;
}

.newMessageArea {
  width: 100%;
  min-height: 300px;
}

.newMsgBtnSend {
  float:right;
  margin-top: 15px;
}

.newMsgBtnSend span {
  display:block;
  height: 45px;
  line-height: 45px;
  width:150px;
  color: #FFFFFF;

  text-align: center;
  text-transform: uppercase;
  background-color: #3eb2cc;
  cursor: pointer;
}

.newMsgBtnSend span * {
  all: inherit;
}

.hiddenReply {
  display: none;
  border-top: 2px solid #dcddde;
}

.hiddenReply.active {
  display: block;
}


.replyFormHeader {
  color: #FFF;
  font-family: "PNLight";
  font-size: 14px;
}

.replyFormBody {
  min-height: 200px;
  padding: 25px;
  color: #737373;
  background-color: #e5e8e9;
}

.replyPicColumn {
  width: 175px;
  float: left;
  height: 100%;
  overflow: hidden;

}

.replyPic {
  height: 150px;
  width: 150px;
  overflow: hidden;
}

.replyPic img {
  width: 150px;

}

.replyContentColumn {
  margin-left: 175px;
}

.replyToFrom {
  font-size: 12px;
  padding-top: 5px;
  margin-bottom: 10px;
}

.senderInfo {
  font-family: "PNLight";
}

.replyFrom *,.replyTo * {
  display: inline-block;
}

.replyName {
  float:none;
  margin-right: 3px;
}

.replyBody {
  font-family: "LoraReg";
  margin-top: 10px;
  margin-bottom: 30px;
}

.replyTimeStamp {
  float:right;
  font-size: 12px;
  margin-top: -45px;
}

.replyTimeStamp div {
  display: inline-block;
}

.otherOptions, .replyButton {
  font-size: 14px;
}

.replyButton {
  color: #3eb2cc;
  margin-bottom: 5px;
  cursor: pointer;
}

.otherOptions * {
  display:inline-block;
  color: #282b30;
}

.showAllMessages {
  margin-right: 10px;
  cursor: pointer;
}
.sft {
  display: inline-block;
}

.numMessages {
  font-family: "PNLight";
}

.replyMsgFormGroup {
  background-color: #e5e8e9;
  font-family: "PNBold";
  font-size:14px;
  margin-top: -1px;
  color: #3eb2cc;
}

.replyMsgFormGroup {
  font-size: 14px;
  font-family: "PNBold";
  margin-bottom: 5px;
}

.replyForm {
  display: none;
}

.replyForm.active {
  display: block;
}

.newMsgFormControlHidden {
  display:none;
}

// send message to single user

.messageReplySingle {
  display: none;
  float:left;
  height:57px;
  line-height:57px;
  div {
    display: inline-block;
    font-family: "PNBold";
  }
  margin-bottom: 10px;
}

.showMsgSingle {
  display: block;
}

.messageReplyTo {
  color: #767676;
}

.messageReplyRecip {
  color: #3eb2cc;
}

.userReplyLink {
  display: inline-block;
  color: #3eb2cc !important;
}

.toDiv {
  color: #737373;
  display: inline-block;
}

.sendersInfoDiv {
  color: #3eb2cc;
}


