.adminLink {
  float: right;
  display: inline-block;
  margin-top: -14px;
  font-size: 24px;
}

.pageProfile, .profileInfo {

  .updateIcon {

    position: absolute;
    top: 0;
    right: 0;
    font-size: 26px;
    color: #bbbdbf;
    width:auto;
    height:auto;
  }

  .updateIcon:hover {
    color:#3eb2cc;
    cursor:pointer;
  }
}

.pageProfile {
  
  .confirmConnectModal.toUnconnect,
  .confirmConnectModal.toConnect  {

    .close-modal {
      display: none;
    }

    .close-modal-proxy {
      color: white;
      background-color: #282b30;
      position: relative;
      height: 45px;
      width: 50%;
      font-size: 14px;
      padding-top: 13px;
      text-align:center;
      display:inline-block;
      float:left;
      margin-top: 18px;
      border-left: 14px solid #EFF1f1;
    }

    .modalDoneButton {
      width: 50%;
      float:left;
      border-right: 14px solid #EFF1f1;
    }

    .buttonsBox {
      position:relative;
      overflow: auto;
    }
  }

  .confirmConnectModal.toUnconnect  {

    .deleteUserModalInfo {
      height: auto;
    }

    .modalDoneButton {
      margin-top: 18px;
    }
  }
}

.adminLink a {
  margin-right: 25px;
}

.adminLink i {
  margin-top: 5px;
}

.profileHeader {
  margin: 0 25px;
  margin-top: 30px;
  background-color: #f2f3f4;
  padding:20px;
  overflow: hidden;
}

.profileTopHeader {
  margin-top: 0;
}

.profilePic {
  float: left;
  height: 200px;
  overflow:hidden;
  position:absolute;
  line-height: 200px;
}
.profilePic img {

  width: 200px;
}

.profileInfo {
  float:left;
  margin-left: 0;
  width: 100%;
  padding-left: 225px;
  position: relative;
  height:200px;
}

.profileInfo .connectedIcon {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 28px;
  color: #797c7f;
  cursor: pointer;

  &:hover {
    color: #3eb2cc;
  }
}

.profileInfo .unfriendText {
  position: absolute;
  top:5px;
  right:35px;
  font-size:16px;
  color:#797c7f;
  display:none;

}

.profileInfo .profileButtons {
  /*float:right;*/
  position: absolute;
  right:0;
  bottom: 0;

}

.profileName {
  font-size: 34px;
  color: #3eb2cc;
  margin-top: -6px;
  padding-right: 30px;
}

.profilePosition {
  font-size: 22px;
  margin-top: 2px;
}

.profileEmployer {
  font-size: 22px;
  color: #797c7f;
  margin-bottom: 10px;
}

.profileIndustry, .profileLocation {
  font-size: 14px;
  color: #445058;
  margin-bottom: 3px;
  text-transform: uppercase;
  letter-spacing:0.025em;
}

.profileIndustry i, .profileLocation i {
  text-align: center;
  width: 15px;
  margin-right: 5px;
  color: #737373;
}

.profileTab {
  margin-top: 30px;
  background-color: #e5e8e9;
  height: 60px;
  padding: 0 25px;
  line-height: 60px;
}

.profileTabLabel {
  display: inline-block;
  color: #737373;
  font-size: 18px;
  margin-right: 60px;
  cursor: pointer;
}
.profileTabLabel.active {
  color: #3eb2cc;
}

.profileTabWrapper {
  padding: 30px 25px;
  background-color: #f2f3f4;
  overflow: auto;
}

.profileButton {
  display: inline-block;
  margin-right: 15px;
  width: 180px;
  height: 45px;
  color: #FFF;
  background-color: #3eb2cc;
  line-height: 45px;
  text-align: center;
  font-family: "PNReg";
  margin-top: 30px;
}

.profileButton:last-child {
  margin-right:0;
}

.profileDeleted {
  display: none;
}

.profilePending {
  background-color: #797c7f;
}

.profileConnected {
  background-color: #34373d;
}
.profileDeleted {
  background-color: #CF0000;
  cursor: pointer;
}

.deleteButton {
  background-color: #CF0000 !important;
}

.summaryFormBox {
  min-height: 0px;
}

.workBoxWrapper {
  padding-left: 30px;
  padding-top: 15px;
  padding-right: 200px;
}

.workBoxWrapper .workBox:last-child {
  border-bottom: none;
}

.workBox {
  border-bottom: 1px solid #cbd0d2;
  color: #797c7f;
  padding-top: 30px;
  padding-bottom: 30px;
}

.workJobTitle {
  font-size: 22px;
  margin-bottom: 0px;
  color: #282b30;
}

.workCompany {
  font-size: 22px;
  margin-bottom: 10px;
}

.workDates {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 5px;
}

.workSummary {
  font-family: "PNReg";
  font-size: 14px;
}

.profileConnectionsTab, .profileInformationTab {
  display: none;
}

.profileConnectionsTab.active, .profileInformationTab.active {
  display: block;
}

.profileTabSummaryText {
  padding-right:200px;
}


