
@media screen and (max-width: 1050px) {


	.pageAbout {


		.aboutText {

			padding-right: 35px;
			padding-left: 35px;
		}

		.errorHeader {
	    	padding-left: 35px;
	  	}

	}

}


@media screen and (max-width: 450px) {


	.pageAbout {


		.aboutText {

			padding-right: 25x;
			padding-left: 25px;
			width: 100%;
			font-size: 14px;
			font-family: "PNReg";
			line-height: 18px;
		}

		.errorHeader {
	    	padding-left: 25px;
	  	}

	}

}