.searchWrapper {
  min-height: 250px;
  padding-top: 20px;
  background-color: #f2f3f4;
  margin-top: 30px;
  padding-bottom: 30px;
}

.adminUserBox {
  margin-left: 117px;
  margin-right: 117px;
  height: 200px;
  background-color: #f2f3f4;
  padding-top: 30px;


}

.adminUserEdit {
  float:right;
  height: 60px;
  width: 150px;
  background-color: #282b30;
  text-align: center;
  line-height: 60px;
  color: #FFF;
  margin-top: -50px;

}

.userList {
  min-height: 100px;
  padding: 0 117px;
  margin-top: 5px;
  padding-top: 20px;
  background-color: #f2f3f4;
  overflow: hidden;
}

.userListName {
  float:left;
}

.userListName2 {
  color: #3eb2cc;
}

.userListAddBtn {
  float:right;
}

.addFriendButton {
  margin-top: 6px;
  width: 150px;
  height: 50px;
  background-color: #3eb2cc;
  color: #FFF;
  text-align: center;
  line-height: 50px;
}

.connectedBox {
  margin-top: 6px;
  width: 150px;
  height: 50px;
  background-color: #34373d;
  color: #FFF;
  text-align: center;
  line-height: 50px;
}

.pendingBox {
  margin-top: 6px;
  width: 150px;
  height: 50px;
  background-color: #797c7f;
  color: #FFF;
  text-align: center;
  line-height: 50px;
}

.adminUserNew {
  float: right;
  margin-top: -90px;
  margin-right: 117px;
  background-color: #3eb2cc;
  color: #FFF;
  width: 200px;
  height: 60px;
  line-height: 60px;
  text-align: center;

}

.userSearchProfilePic {
  overflow: hidden;
  height: 100px;
  float:left;
}

.userSearchProfilePic img{
  width: 100px;
  float: left;
  margin-right: 20px;
}

