.searchWrapper {
  min-height: 250px;
}

.adminUserBox {
  margin-left: 117px;
  margin-right: 117px;
  height: 200px;
  background-color: #f2f3f4;

}

.adminUserEdit {
  float:right;
  height: 60px;
  width: 110px;
  background-color: #3eb2cc;
  text-align: center;
  line-height: 60px;
  color: #FFF;

}
