.ql-editor {
  height: 300px;
}

#editor {
  position: static;
}

.ql-toolbar {
  display: none;
  float:right;
  margin-top: 10px;
  margin-bottom: -41px;
  margin-right: 10px;
  position: relative;
  z-index: 2;
  top: 276px;
}

.editorButton {
  width: 30px;
  height: 30px;
  line-height: 34px;
  text-align: center;
  color: #767676;
  background-color: #e5e8e9;
  display: inline-block;
  margin-left: 0px;
  cursor: pointer;
  font-size: 12px;
}

// .editorButton.active {
//   background-color: #c8c8cb;
// }
// .editorButton:hover {
//   color: #3eb2cc;
// }

.characterLimit {
  display: none;
  position: relative;
  top: -20px;
  right: 10px;
  float: right;
  height: 0;
  font-size: 12px;
  font-family: "PNLight";
}

.callCol {
  .editorButton {
    margin-left: 2px;
  }
}
