<% if @friends.length > 0 %>

  <div class="connectionsWrapper formBox">
  <div class="messagesBar">
    <div class="msgsBarName">MY CONNECTIONS</div>

    <div class="inboxToggle toggleFloatRight">
      <div class="sortLabel">SORT BY:</div>
        <div class="sortToggle">

          <div class="wrapper-dropdown ddFilter ddToggle" name="connection" tabindex="1">
            <span class="ddLabel ddFilterLabel">MOST RECENT</span>
            <div class="icon icon-carot messageCarot"></div>
            <ul class="dropdown ddFilterSelect">
              <li class="ddOption filterOption filterToggle">MOST RECENT</li>
              <li class="ddOption filterOption filterToggle">FIRST NAME</li>
              <li class="ddOption filterOption filterToggle">LAST NAME</li>
            </ul>
          </div>


        </div>


    </div>
    <div class="searchConnsInput">
      <input placeholder="Search by name" class="searchInput" id="searchConnsInput">
    </div>
    <div class="icon icon-icon-search toggleRightSearch" id="toggleRightSearch"></div>
  </div>


  <div class="connsRefillableWrapper">

  <%= render partial: 'friendships/friend', collection: @friends %>

  </div>


  <!-- conns wrapper -->
  </div>

<!-- end form box -->
<% elsif @requested_friendships.length > 0 %>




<% else %>

<div class="noMsgsWrap">
  <div class="noMessages">
    You don't have any connections yet.</br> Use search to find adoption technology leaders and connect with them.
  </div>
  <div class="startSearchBtn startSearchFullBtn"><a href="/search">START A SEARCH</a></div>
</div>

<% end %>
