<%= render "layouts/header" %>

<div class="pageWrap">


  <div class="noMsgsWrap errorWrap">
    <div class="errorHeader">404 error</div>
    <div class="noMessages errorMessage">
      The page you're looking for cannot be found. </br>
      Try a new search using the navigation above or
    </div>
    <div class="startSearchBtn startSearchFullBtn"><a href="/home">RETURN HOME</a></div>
  </div>




</div>



<%= render "layouts/footer" %>
