<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
      * {
        box-sizing: border-box;
        font-family: Helvetica, Arial, sans-serif;
      }
      .emailHeader {
        height: 10px;
        background-color: #3eb2cc;
        margin-bottom: 40px;
      }
      .emailGreeting {

        font-size: 24px;
        color: #000000;
        margin-bottom: 40px;
        padding-left: 20px;
      }
      .emailBody {
        font-size: 14px;
        line-height: 22px;
        color: #6D6F72;
        padding-left: 20px;
      }
      .emailFooter {
        margin-top: 80px;
        font-size: 12px;
        line-height: 22px;
        color: #6D6F72;
        background-color: #282b30;
        height: 75px;
        line-height: 75px;
      }
      .emailFooterLogo {
        float: left;
        width: auto;
        padding-left: 20px;
      }
      .emailFootLogo img {
        max-height: 14px;
      }
      .emailFooterCopyright {
        float: right;
        padding-right: 20px;
      }
    </style>
  </head>
  <body style="font-family: Helvetica, Arial, sans-serif;">
    <div class="emailHeader" style="height: 10px; background-color: #3eb2cc; margin-bottom: 40px;"></div>
