    <div class="emailFooter" style="margin-top: 80px; font-size: 12px; line-height: 22px; color: #797C7F; background-color: #282b30; height: 75px; line-height: 75px;">
      <div class="emailFooterLogo" style="float: left; max-height: 75px; width: auto; padding-left: 20px; line-height: 75px">
        <%= image_tag attachments['email-footer-logo.png'].url, style: 'max-height: 14px;' -%>
      </div>
      <div class="emailFooterCopyright" style="float: right; padding-right: 20px;">&copy; Enterprise Technology Research</div>
    </div>
  </body>
</html>
