<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @receiver.first_name %>,</h1>
    <p>
      Hi Chris, John Snow has accepted your connection request. View his profile here (http://localhost:3000/profile/<%= @sender.id %>) or begin connecting with your fellow technology leaders.


    </p>
  </body>
</html>
