<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @receiver.first_name %>,</h1>
    <p>
      You have a new reply from <%= @sender.full_name %>. Please log into FITO (http://etrfito.com/), the next-gen platform for real-time enterprise peer benchmarking and CIO level networking, powered by ETR.
      <br>
      The message is:
      <br>
      "<%= @message %>"


    </p>
  </body>
</html>
