<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Admin,</h1>
    <p>
      <%= @user.full_name %> has changed the following fields in his/her profile:
      </br>
      <%= @changes %>
    </p>
  </body>
</html>
