<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello @req.first_name,</h1>
    <p>
      Thank you for requesting an invitation to join FITO, the next-gen platform for CIO level networking and peer benchmarking research, powered by ETR. We have received your request and are reviewing your information. Please allow up to 24 hours for a decision to be made. We will be in touch shortly.
    </p>
  </body>
</html>
