<%= render "etr_mailer/email_header" %>
    <div class="emailGreeting" style="font-size: 24px; color: #000000; margin-bottom: 40px; padding-left: 20px;">Invitation request received</div>
    <div class="emailBody" style="font-size: 14px; line-height: 22px; color: #6D6F72; padding-left: 20px;">
      Hi <%= @req.first_name %>,
      <br>
      <br>
      Thank you for requesting an invitation to join FITO, the next-gen platform for CIO level networking and peer benchmarking research, powered by ETR. We have received your request and are reviewing your information. Please allow up to 24 hours for a decision to be made. We will be in touch shortly.
      <br>
      <br>
      Sincerely,
      <br>
      The FITO team

    </div>

<%= render "etr_mailer/email_footer" %>
