<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @name %>,</h1>
    <p>
      A password reset has been requested for the account associated with this email. Please follow the link below and use the password given to reset your password.
      </br>
      http://etrfito.com/reset_password
      <br>
      <%= @password %>
    </p>
  </body>
</html>
