<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.full_name %>,</h1>
    <p>
      You have received an invite to join FITO.
      </br>
      Please visit http://etrfito.com/register and use the following credentials to get started:
      </br>
      <%= @user.email %>
      </br>
      <%= @password %>
    </p>
  </body>
</html>
