<%= render "etr_mailer/email_header" %>
    <div class="emailGreeting" style="font-size: 24px; color: #000000; margin-bottom: 40px; padding-left: 20px;">Invitation request received</div>
    <div class="emailBody" style="font-size: 14px; line-height: 22px; color: #6D6F72; padding-left: 20px;">
      <%= @user.full_name %> has invited you to join FITO (For-IT-Only), ETR's PaaS exclusively for high-level enterprise IT professionals - completely free from vendors, VARs, resellers, media, and investment professionals.
      <br><br>
      Click <a href="http://etrfito.com/?requestAccess">here</a> to request access.
      <br>
      <br>
      Sincerely,
      <br>
      The FITO team

    </div>

<%= render "etr_mailer/email_footer" %>
