.searchButton.forResponsive {
	display: none;
}


@media screen and (max-width: 1050px) {

    .headerWrapper, .footWrapper, .pageWrap {
    	width: 100%;
    }

    .headerWrapper {
	    padding-left: 20px;
	    padding-right: 20px;
    }

    .headerWrapper .navBar .hoverDiv {

 	   margin-left: 30px;
    }

    .headerWrapper .navBar {
    	margin-right: 6px;
    }

    .searchBarHomeWrapper {
    	margin-right: 25px;
    }

    .searchBarHomeWrapper .wrapper-dropdown, .homeAddIntentions {
    	width: 100%;
    }

    .searchBarHomeWrapper .wrapper-dropdown {
    	margin-bottom: 20px;

    }

    .searchBarHomeWrapper .homeAddIntentions {
    	margin-bottom:10px;
    }

    .searchBarHomeWrapper .formBoxRow {
    	margin-top:40px;
    }

    .searchBarHomeWrapper .searchButton.forResponsive {
    	display: block;
    	width: 100%;
    }

    .searchBarHomeWrapper .searchButton.forNonResponsive {
    	display: none;
    }

    .searchBarHomeWrapper .searchButton.forResponsive .fa {
    	display: none;
    }

    .searchBarHomeWrapper .field-col-4 {
    	width:49%;

    }

    .searchBarHomeWrapper .homePageAdvancedRow {
    	padding-right:0;
    }

    .searchBarHomeWrapper .field-col-4 .wrapper-dropdown {
    	margin-right:0;
    	
    }

}