
@media screen and (max-width: 700px) {

	.myConnection {

		& {
			background-color: white;
			border-bottom:1px solid #eee;
		}

		.myConnWrapper {
			border-bottom:0;
		}

		&:first-child {
			margin-top:25px;
		}

		&:last-child {
			border-bottom: none;
    		padding-bottom: 10px;
		}

		.myConnInfo {
		    padding-top: 0px;
		    padding-left: 15px;
		}

		.messageLink {
			
			& {
				height:auto;
				font-size:14px;
				margin-top:15px;
				color:#3eb2cc;
			}

			.icon {
				font-size:10px;
				display: inline-block;
				margin-left: 5px;
			}

		}

		.myConnName,
		.myConnCompany {
			font-size:18px;
		}

		.myConnIndustry,
		.messageLink {
			font-size: 14px;
		}

	}

}