
@media screen and (max-width: 1050px) {


}

@media screen and (max-width: 700px) {

	.pageProfile {

		.profileTabLabel:last-child {
			margin-right:0;
		}

		div.profileTab {
			padding-right: 0;
			min-width:290px;
		}

		.profileTabLabel {

		    margin-right: 30px;
		}

		.confirmConnectModal {

			& {
				width:100% !important;
				margin-left:0 !important;
				left:0 !important;
			}

			.modalIntentions,
			.modalIntentions .myConnProfilePic {
				width:0;
			}

			.modalIntentionsRight {
				width:100%;
			}
		
			.connectConfirm .modalIntentions {
				padding-left: 0;
			}
		}

		.profileHeader {
			margin-left: 0;
			margin-right: 0;
			padding:20px;
		}

		.break-2-show {
			
			& {
				padding-top:20px;
			}

			.profileButton {
				width: 100%;
				margin-top:0;
				margin-bottom: 15px;
			}

			.profileButton:last-child {
				margin-bottom: 10px;
			}
		}

		.profilePic img {
			width:100px;
			height:100px;
		}

		.profileInfo {
			height:auto;
			padding-top:2px;
			padding-left:115px;
			height:130px;
		}

		.profileName {
			font-size: 22px;
			margin-top: 0;
		}

		.profileEmployer,
		.profilePosition {
			font-size: 18px;
		}	

		.profileButton {

		}

		.profileTabBox:last-child {
			margin-bottom: 0;
		}

		.profileTabWrapper {
			padding:0;
		}

		.profileTab {
			background-color: transparent;
			padding: 0 20px;
			margin-top:0;
		}

		.profileTabLabel {

    		font-size: 16px;
		}

		.formHeader {
			padding-left: 20px;
			font-size: 18px;
		}

		.profileTabSummaryText {
			margin: 20px;
			padding-right: 0;
		}

		.workBoxWrapper {
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 0;
		}

	}

}