
@media screen and (max-width: 1050px) {
	.pageEditProfile {
		.userSummaryField {
			margin: 0 !important;
		}

		.boxForSummary {
			padding: 30px;
		}

		.pubOrPrivBox {

		    position: absolute;
		    right: 60px;
		}

		.pastPositionBox {

			.field-col-2 {
				width: 49%;
			}

			.field-col-3 {
				width: 32%;
			}
		}

		.experienceSummaryBox {
			padding-right: 220px;
			width: 100%;
		}

		#editor {

			width: 100%;
		}

		.editPhotoUpload {

			padding-bottom: 0;
			position: absolute;
		}

		.editContentRight {

			width: 100%;
			max-width: 100%;
			padding-left: 240px;
		    padding-right: 30px;
		    margin-left: 0;

			.halfField {

				width: 48%;

				input {

					width: 100%;
				}
			}

			.halfField.left {
				margin-right:4%;
			}

			.halfField.right {
				margin-right:0;
			}

			.fullField {
				width: 100%;
				margin-right: 0;

				input {
					width: 100%;

				}
			}

		}


	}
}

@media screen and (max-width: 700px) {

	.pageEditProfile {

		.editProfileWrapper {

		     padding-left: 0; 
		     padding-right: 0; 
		}

		.formBox {
			margin-bottom: 0;
		}

		.editContentRight {

			.halfField {
				width: 100%;
				margin-right:0;
			}

			.field {
				margin-bottom:10px;
			}

		    padding-left: 215px;
		    margin-top: 20px;
		    padding-right: 20px;
		}

		.editPhotoUpload {
    		padding: 20px;
		}

		.boxForSummary {
			padding-left: 20px;
			padding-right: 20px;
		}

		.pubOrPrivBox {

		    position: relative;
		    right: inherit;
			float:none;
			padding-left:5px;
		}

		.experienceSummaryBox {
			padding-right: 0;
		}

		.pastPositionBox {

			.field-col-2 {
				width: 100%;
			}

			.field-col-3 {
				width: 100%;
			}

			.field {

			    margin-bottom: 5px;
			}

			.formBoxField {
				padding-left: 20px;
				padding-right: 20px;
			}
		}

		.userAdminButton {
			width:50%;
			margin-left:0;
		}

		.userEditButtons {

    		margin-bottom: 30px;
		}

		.profileTabBoxLabel,
		.pageHeader {
			padding-left: 20px;
		}
	}
}


@media screen and (max-width: 450px) {


	.pageEditProfile {


		.editPhotoUpload {

			position: relative;
			padding-bottom: 0;
		}

		.editContentRight {
			padding-left:20px;
		}

	}

}