
@media screen and (max-width: 1050px) {

	.pageProfile {

		.profilePic {
			position:absolute;
		}

		.profileInfo {

			float: none;
		    margin-left: 225px;
		}

		.profileButton {
			margin-right: 3%;
			width: 45%;
		}

	}

}