

@media screen and (max-width: 1050px) {
	
	.pageHome {

		.homeContentWrapper .homeContentBox1,
		.homeContentWrapper .homeContentBox2 {
			width:100%;
		}

		.searchBarHomeWrapper {

			& {

				margin-left: 10%;
		    	margin-right: 10%;
			}

		    .wrapper-dropdown, .homeAddIntentions {
		    	width: 100%;
		    }

		    .wrapper-dropdown {
		    	margin-bottom: 20px;

		    }

		    .homeAddIntentions {
		    	margin-bottom:10px;
		    }

		    .formBoxRow {
		    	margin-top:40px;
		    }

		    .searchButton.break-1-show {
		    	display: block;
		    	width: 100%;
		    }

		    .searchButton.break-1-show .fa {
		    	display: none;
		    }

		    .homePageAdvancedRow {
		    	padding-right:0;
		    }

		    .field-col-4 {
		    	width:49%;

		    }

		    .field-col-4 .wrapper-dropdown {
		    	margin-right:0;
		    	
		    }

		}

		.homeContentWrapper {

			.homeContentInvite.forNonResponsive {
				display: none;
			}

			.homeContentBox2 .bottom .left {
				width:100%;
			}

			& > .left, & > .right {
				width:50%;
			}

		}

		.homeContentInvite.break-1-show {
			
			& {
				display:block;
				width:100%;
				float:none;
			}

			.homeInviteTitle {
				margin:30px 0 0 0;
				font-size:18px;
				width:100%;
			}

			.homeInviteText {
				margin-top:20px;
				margin-bottom:30px;
			    margin-left: 10%;
			    margin-right: 10%;
			}

			.inviteButton {
				margin-bottom:35px;
			}
		}

		.homeConnectionBox {

			&, .homeConnectionPic, .homeConnectionProfile {
				width:50%;
			}

			.homeConnectionPic {

			    background-size: 100% auto;
			    background-position: center;
			    background-repeat: no-repeat;
			}

		    .homeConnectionPic img {
				display:none;
			}

		}

		.homeConnectionsHeader {
			height:auto;
			line-height: inherit;
			font-size:18px;
			padding-top: 15px;
			padding-bottom: 15px;
		}

		.homeContentResearch {

			.researchNum {
				padding-right:10px;
				font-size:46px;
			}

			.researchText {
				padding-top:8px;
				padding-bottom: 5px;
			}

			table.break-1-show td {
				vertical-align: top;
			}
		}

	}

}

@media screen and (max-width: 700px) {


	.pageHome {
	

		.homeContentFollowed,
		.homeContentResearch,
		.homeContentNews {
			padding: 25px 20px;
		}

		.homeContentFollowed .noFollowedSearchesText {
			margin-top:0;
		}

		.homeContentHeadline {

		    margin-bottom: 10px;
		    font-size:24px;
		    position: relative;
		    line-height: 25px;
		}

		.homeContentResearch .homeContentHeadline {

		    border-left: 5px solid black;
		    padding-left: 10px;
		}

		.homeContentNews .newsContent {
			margin-left:15px;
			margin-right:0;
		}

		.homeContentNews .viewMoreContent {

		}

		.homeContentNews .newsHeadline {
			margin-top:0;
			line-height: 25px;
			padding-top:20px;
		}

		.homeContentNews .newsDate {
			line-height: initial;
			position: absolute;
			top:0;
		}

		.homeContentLabel {
			
		    font-size: 14px;
		    margin-bottom: 15px;
		}

		.homeContentWrapper {
			height:auto;
		}

		.homeContentInvite {
			height: auto;
		}

		.homeContentWrapper .homeContentBox1,
		.homeContentWrapper .homeContentBox2 {
			height: auto;
		}

		.homeConnectionsHeader {
			padding-top:15px;
		}

		.searchBarHomeWrapper {

			& {

				margin-left: 20px;
		    	margin-right: 20px;
			}

		    .field-col-4 {
		    	width:100%;

		    }

		}

		.homeContentWrapper > .left, 
		.homeContentWrapper > .right {
			width:100%;
		}	

		.homeConnectionBox {

			& {
				width:100%;
				border-bottom:3px solid white;
			}

			.homeConnectionPic.forResponsive {
				display: none;
			}

			.homeConnectionPic.forResponsive-2 {
				display: block;
			}

			.hcpMsg {
				margin-bottom: 15px;
			}

			.homeConnectionPic {
				position:absolute;
				height:187px;
			    width:187px;
			}

			& {

			    height: 190px;
			}

			.homeConnectionProfile {
				width:100%;
				margin-left:187px;
    			height: 187px;
 			}

		}

	}

}