.forResponsive,
.break-1-show,
.break-2-show,
.break-1-show-inline,
.break-2-show-inline {
	display: none;
}

.break-0-show {
	display: block;
}

.breakstate {
	display:none;
	width:0;
}

@media screen and (max-width: 1050px) {

	.breakstate {
		display:none;
		width:1050px;
	}

	.break-1-show {
		display: block;
	}

	.break-1-show-inline {
		display: inline-block;
	}

	.break-1-hide {
		display: none !important;
	}

    .headerWrapper, .footWrapper, .pageWrap.responsive {
    	width: 100%;
    }

	.headerWrapper {

	    & {
		    padding-left: 20px;
	    }

	    .navBar .hoverDiv {

	 	   margin-left: 30px;

			&.profile-button {
			  margin-left: 20px;
			}
	    }

	    .navBar {
		    position: absolute;
		    right: 0;
	    	margin-right: 20px;
	    }

		.logoutDrop {
		  right:12px;
  		  margin-left: 0;
		}

	}

	.footer {

		& {

			height:auto;
		}

		.footWrapper {
			padding-top:20px;
	    	padding-bottom: 100px;
	    	position: relative;
		}

		.footNav {
			margin-top:0;
		}

		.footNav a {

		    text-align: left;
		    border-bottom: 1px solid #444;
		    margin-bottom: 20px;
		    padding-bottom: 20px;
		    padding-left: 20px;
		}

		.logoFoot, .copyrightFoot {

			position:absolute;
			bottom:0;
			padding:20px;
		}

		.copyrightFoot .year {
			display: block
		}

		.copyrightFoot {
			text-align: right;
			right:0;
			padding-bottom:18px;
		}
	}
}

@media screen and (max-width: 700px) {

	.breakstate {
		display:none;
		width:700px;
	}

	.footerMargin {
		height:0;
	}

	.break-2-hide,
	.break-1-show-inline.break-2-hide,
	.break-2-hide,
	.break-1-show.break-2-hide {
		display: none !important;
	}

	.break-2-show-inline {
		display: inline-block;
	}

	.break-2-show {
		display: block !important;
	}

	.headerWrapper {

	    .navBar .hoverDiv {

	 	   margin-left: 38px;
	    }

	}

	.header {
		& {
			height: 70px;
			line-height: 70px;
			position: fixed;
			width: 100%;
			z-index: 9999;
		}

		.icon {
			line-height:  70px;
		}
	}

	.pageWrap {
		padding-top: 112px;
	}

	.menuLogo {
		margin-top: 20px;
	}

}


@media screen and (max-width: 700px) {

	.two-button-popup {
	  
	  .close-modal, .modalDoneButton {
	    width: 150px;
	  }
	}

}


@media screen and (max-width: 400px) {

	.two-button-popup {
	  
	  .close-modal, .modalDoneButton {
	    width: 100px;
	  }
	}

}
