
@media screen and (max-width: 700px) {



	.searchDropdown.fieldDropdown.active {
	  margin-left: -12px;
	}



}

@media screen and (max-width: 1050px) {

	.searchResultsWrapper {



		.searchDropdown.fieldDropdown.active {
		  margin-left: -12px;
		}

		.searchLinksBox {
			a {
				color:#3eb2cc;
				font-size:16px;
				text-transform: uppercase;
				margin-top:15px;
			}

			.adjustSearchLink {
				border-top:1px solid #ddd;
				padding-top: 15px;
			}
		}

		.icon-icon-check {

		    display: inline;
		}

		& {

			width:70%;
		}

		.searchTypesWrapper {

    		// margin-right: 280px;
		}

		.pagination,
		.searchWrapper {

			// margin-right:255px;
		}

		.myConnProfilePic {
			position: absolute;
		}

		.myConnWrapper {
			overflow: hidden;
		}

 		.searchInfoText {
		    padding-top: 10px;
		    display: block;
 			overflow: hidden;
 		}

 		.searchInfo {
 			height:auto;
		    margin-left: 130px;
		    width: 100%;
		    padding-right: 110px;
 		}

 		.userActionsSidebar.break-1-show {

 			& {

	 			text-align: left;
	 			margin-top:15px;
	 			line-height: initial;
	 			width: 100%;
 			}

 			.userListActionsSearch {
 				display: block;
 				top:0;
 			}

 			.icon {
 				top:1px;
 				margin-right:20px;
 			}

 		}

 		.myConnection {

		    clear: both;
 		}

		.spendingTagsWrapper {

			.spendingTag {
				width:100%;
			}
		}

	}

	.searchResultsSideBar {
		width: 30%;
	}

}

@media screen and (max-width: 700px) {

 	.searchResultsWrapper {

 		& {
 			width: 100%;
 		}

		.myConnection .myConnWrapper .myConnInfo {
			padding-left:20px;
		}

 		.myConnection:first-child {
 			margin-top:0;
 		}

 		.searchResultsHeader .number {

		    font-size: 14px;
		    text-transform: uppercase;
		    padding-bottom: 5px;
 		}

		.searchTypesWrapper {
		    margin-left: 0;
		    margin-right: 0;
		    margin-bottom: 0;
    		padding: 20px;
		}

		.myConnWrapper {
			border-bottom:none;
		}

		.searchTagsWrapper {
			display: none;
		}

		.spendingTagsWrapper {

			& {

			}

			.spendingTag {
			    background-color: #ccc;
			    color: #666;
			}
		}

		.searchWrapper {

			& {

				background-color: white;
				margin-top:0;
				margin-right:0;
				padding-bottom: 0;
			}

			.myConnection {

				& {

				}

				&:first-child {

				}

				&:last-child {

				}

				.myConnInfo {

				}

				.messageLink {

					& {

					}

					.icon {

					}

				}

				.myConnName,
				.myConnCompany {

				}

				.myConnIndustry {

				}

			}

		}

		.messagesPagination {

			& {
				background-color: white;
			}

			.pagination {
				margin-right:0;
			}

		}

 	}

	.searchResultsSideBar {

		& {
			width:100%;
			min-height: 100%;
			position: fixed;
			overflow: scroll;
			z-index: 995;
    		/*right: -100%;*/
		}

		&.off-stage {
    		/*right: -100%;*/
		}

		.sideBarClose {

		    position: absolute;
		    color: white;
		    top: 0;
		    right: 0;
		    padding: 12px;
		    cursor: pointer;
		}

	}

}
