// Place all the styles related to the user_admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.myConnsLabel {
  color: #767676;
}

.userAdminSearch {
  float:right;
  margin-right: 25px;
  margin-top: -15px;
}

.adminUserNew {
  display: inline-block;
  // margin-top: -90px;

  background-color: #FFFFFF;
  color: #3eb2cc;
  width: 200px;
  // height: 60px;
  line-height: 35px;
  text-align: center;
}

.adminWrapper {
  padding-top: 0;
  margin-top: 80px;
}

.searchUsers {
  display: inline-block;
  input {
    border: 1px solid #D8DCDD;
    width: 250px;
    height: 60px;
    padding-left: 15px;
  }
}
.searchButton2 {
  cursor: pointer;
  width: 80px;
  font-size: 22px;
  margin-left: -4px;
  margin-top: 1px;
  position: relative;
  top: 5px;
  line-height: 65px;
}

.userActionsSidebar {
  height:auto;
}

.userListAction {
  line-height: 45px;
  text-align: right;
}

.deleteAction {
  color: #767676;
}







.new_user .field {
  margin-bottom: 15px;
}

.createNewWrapper {
  padding-left: 25px;
  padding-right: 25px;
}

.createUserButton {
  float:none;
  margin-top: 30px;
  padding-bottom: 50px;
}

.createUserButton span {
  width: 150px;
}




.editProfileWrapper {
  padding-left:25px;
  padding-right: 25px;
}

.deleteUserButton {
  float: right;
  display: inline-block;
  color: #797c7f;
  font-family: "PNBold";
  cursor: pointer;
  text-transform: uppercase;
  line-height: 25px;
  font-size: 14px;
}

.userPermissions {
  cursor: default;
  div {
    display: inline-block;
  }
}

.userPermissionsInput {
  font-family: "PNReg";
  font-size: 14px;
  cursor: pointer;
  margin-top: -11px;
  .wrapper-dropdown {
    position: static;
    border: none;
    min-width: 100px;
    padding-right: 0;
    margin-right: 0;
  }
  .fieldDropdown {
    width: 6.6%;
    margin-left: -10px;
    margin-top: -10px;
  }
  .icon {
    position: relative;
    top: 5px;
    font-size: 20px;
  }
  .ddOption {
    padding-left: 20px;
  }
}

.createUserPermissions {
}

.createUserPermissionsDrop {
  text-align: right;
  .ddOption {
    text-align: center;
    padding-left: 0;
  }
  .fieldDropdown {
    margin-left: 1px;
  }
}

.deleteUserModalInfo {
  height: 121px;
}

.userEditBox {
  background-color: #EFF1F1;
  .carrot {
    font-size: 25px;
  }
}

.editPhotoUpload {
  float:left;
  width: 220px;
  padding: 30px 15px 30px 30px;
}

.editContentRight {
  float:left;
  margin-top: 30px;
  margin-left: 10px;
  max-width: 740px;
  padding-bottom: 10px;
}

.photoUploadBox {
  background-color: #D8DCDD;
  height: 175px;
  width: 175px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;

}

.userUploadIcons {
  display: table;
  height: inherit;
  width: inherit;
  cursor: pointer;
  p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    color: #767676;

  }
  .icon {
    font-size: 34px;
  }
}

.editUploadIcons {
  display:block;
  width: 100%;
  p {
    display: block;
    color: black;
  }
  .icon {
    font-size: 24px;
    position: relative;
    top: 5px;
    display: inline-block;
  }
}

.editField {
  float:left;
  margin-right: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  input {
    width: 338px;
  }
}

.pageEditProfile {
  .editField {

    margin-bottom: 20px;
  }
}

.fullField {
  input {
    width: 702px;
  }
}

.formBoxField {
  padding: 30px;
}

.formBoxRow {
  text-align: justify;
  font-size: 0.1px;
  margin-bottom: 25px;
  div {
    display: inline-block;
  }
}
.formBoxRow:after {
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}

.pubOrPrivBox {
  float: right;
  width: 185px;
  color: #767676;
  text-transform: uppercase;
  input {
    display:none;
  }
  div {
    margin-bottom: 10px;
    .icon {
      margin-top:-20px;
      font-size:18px;
      color: #cbd0d2;
    }
    input:checked + label span {

    }
  }
}

.pubOrPrivBox > :first-child {
  margin-bottom: 0;
}



#pubButton1, #pubButton2 {
  cursor: pointer !important;
  input + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
    background-color: #cbd0d2;
  }
  margin-bottom:0;

}

#pubButton2 {
  margin-top:-5px;
}

.pubBoxIcon {
  margin-top: 0 !important;
  display: inline-block;
  margin-right: 5px;
}
.pubBoxIcon.active {
  color: #3eb2cc !important;
}
.pubText {
  display: inline-block;
  position: relative;
  top: -4px;
}

.pubLabel {
  margin-bottom: 10px;
  font-family: "PNLight";
  text-transform: none;
}

.currentPosCheck {
  display: inline-block;
  top: 3px;
  position: relative;
  margin-right: 5px;
  margin-top: 0 !important;
}

.pastEmpDates {
  margin-top: 10px;
  margin-bottom: 6px;
  div {
    display:block;
  }
}
.pastEmpDateLabel {
  width: 172px;
  color: #767676;
  font-size: 16px;
  line-height:16px;
  font-family: "PNLight";
  text-transform: none;
  margin-top: 10px;
  margin-bottom: 5px;
}

.pastEmpDateBox {
  input {
    display: block;
  }
}

.field-summary {
  width: 880px;
  height: 161px;
  float: left;
  margin-bottom: 30px;
}

.experienceSummaryBox {
  height: 380px;
  width: 700px;
}



.pastEmpDescriptionBox {
  margin-top: 41px;
  height: 123px;
  margin-left: 40px;
  margin-bottom: 0;
}


.addPastPosition {
  margin-top:-25px;
  background-color: #D6D7D8;
  color: #767676;
  height: 45px;
  line-height: 45px;
  padding-left: 30px;
  cursor: pointer;
  i {
    margin-right: 10px;
    margin-left: -15px;
  }
}

.pastPositionBox {
  display: none;
}

.pastPositionBox.active {
  display: block;
}


.userEditButtons {
  overflow:auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.userAdminButton {
  float: right;
  background-color: #3eb2cc;
  color: #FFF;
  width: 225px;
  height: 60px;
  margin-left: 10px;
  text-transform: uppercase;
  line-height: 60px;
  text-align: center;
  input {
    text-transform: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    background-color: inherit;
    cursor: pointer;
    width: 100%;
    height: 99%;
  }
}

.greyButton {
  color: #767676;
  background-color: #D6D7D8;
}

.userSummaryField {
  margin-top: 30px !important;
  margin-left: 30px !important;
  margin-bottom: 30px !important;
  height: 200px !important;
  width: 905px;
  min-height: 200px;
  .ql-editor {
    height: 100%;
  }
}

.pageAdminManagePageContent {

  .ql-editor {
    height: 150px;

  }

  .ql-toolbar {
    top: 127px;
  }

  .ql-editor,
  input[type=text],
  textarea {
    color: #445058;
  }

  .newMessageArea {
    min-height: 150px;
  }

  #edit_content_6 {

    .cmsSaveButton {
      margin-top: 38px;
    }

  }

  #edit_content_8 {

    .cmsSaveButton {
      margin-top: 10px;
    }

    .col-layout-3 {
      width: 31.5%;
    }

    .bottomRow .cmsBoxCol {
        width: 48.7%;
    }

  }

  #edit_content_7 {

    .cmsSaveButton {
      margin-top: 3px;
    }

    .userEditBox {
      min-height: 260px;
    }

  }

  .cmsImageUpload {

    min-height: 200px;
    margin-bottom: 190px;
    padding-bottom: 0;
  }

}

.ql-summaryBar {
  top: 180px;
  right: 35px;
}

.profileTabSummaryText {
  margin: 30px;
  color: #797c80;
  font-family: "PNReg";
}


.field-col-2 {
  width: 444px;
}
.fieldCol2First {
  margin-right: 37px;
}
.field-col-3 {
  width: 290px;
}
.field-col-4 {
  width: 24%;
}


.uploadXLSForm {
  margin-top: 30px;
  margin-left: 25px;
  margin-bottom: 100px;
}

.requestedAccessWrapper {
  padding: 0px 20px;
  padding-bottom: 40px;
  background-color: white;
  .userEditBox {
    margin-bottom: 0;
    min-height: 0;
    height: auto;
  }
  .myConnInfo {
    padding: 10px 0 0 0;
  }
  .myConnContact {
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    font-family: "PNLight";
    color: #737373;
    a:hover {
      color: #3eb2cc;
    }
  }

  .myConnEmail {
    margin-top: -3px;
    margin-bottom: 5px;
  }
  .icon {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 1px;
  }
  .icon-icon-mail {
    font-size: 22px;
    height: 22px;
    margin-left: -5px;
    margin-right: 7px;
    position: relative;
    top: 6px;
  }
  .requestConn {

  }
  .requestConn:last-of-type {
    border-bottom: none;
  }
}

.pageAdminManagePageContent {

  input[type=submit] {

      background-color: #3eb2cc;
      color:white;
      cursor:pointer;
  }
}

.pageAdminUsers {

  padding-top: 35px;

  .adminWrapper {
    margin-top: 65px;
  }

  .searchUsers {

    .searchButton2 {

      line-height: 55px;
      height: 50px;
    }

    #searchUsersInput {
      height: 50px;
    }
  }

  .pageHeader {

    margin-top:5px;
  }

  .userListAction {
    font-size:14px;
  }

  .close-modal {

    margin-top: -105px;
  }

  .userAdminSearch {
    margin-right: 20px;
  }

  .userListAction.deleteAction {
    margin-top: -25px;
  }

  .userListAction.sendAction {
    margin-top: 25px;
  }

  .myConnsRightFloat {
    font-size: 14px;
  }

  .myConnsRightFloat .sortLabel {
    float: none;
  }

  .myConnsRightFloat .ddFilter {
    padding-left: 15px;
    width: auto;
    padding-right: 0;
  }

  .myConnInfo, .myConnCompany {
    font-size: 20px;
  }

  .myConnCompany {
    color: #797c80;
  }

  .myConnsHeaderBar {
    padding-right: 20px;
  }
}

.pageCreateUser {

  .editField.forFirstName {

    margin-right: 20px;
  }

  .editField.forFirstName input,
  .editField.forLastName input {
    width:341px;
  }

  .editContentRight {
    margin-left: 5px;
  }

  .editField {
    margin-bottom: 20px;
  }

  .fullField.last {
    margin-bottom: 0;
  }

  .formBox {

    min-height: 290px;
  }

  .userEditButtons {
    font-size: 14px;
  }

  .addPastPosition i {
    font-size:12px;
  }
}

