// Place all the styles related to the user_admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new_user .field {
  margin-bottom: 15px;
}

.createNewWrapper {
  padding-left: 117px;
  padding-right: 117px;
}

.createUserButton {
  float:none;
  margin-top: 30px;
  padding-bottom: 50px;
}

.createUserButton span {
  width: 150px;
}

.edit_user {

}

.adminWrapper {
  padding-top: 0;
}

.editProfileWrapper {
  padding-left:117px;
  padding-right: 117px;
  padding-top: 40px;
}

.deleteUserButton {
  float: right;
  display: inline-block;
  color: #797c7f;
  font-family: "PNReg";
  cursor: pointer;
}

.userEditBox {
  background-color: #EFF1F1;
}

.editPhotoUpload {
  float:left;
  width: 220px;
  padding: 30px 15px 30px 30px;
}

.editContentRight {
  float:left;
  margin-top: 30px;
  margin-left: 10px;
  max-width: 800px;
  padding-bottom: 10px;
}

.photoUploadBox {
  background-color: #D8DCDD;
  height: 175px;
  width: 175px;
}

.editField {
  float:left;
  margin-right: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  input {
    width: 338px;
  }
}

.formBoxField {
  padding: 30px;
}

.formBoxRow {
  text-align: justify;
  font-size: 0.1px;
  margin-bottom: 25px;
  div {
    display: inline-block;
  }
}
.formBoxRow:after {
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}

.pubOrPrivBox {
  float: right;
  width: 185px;
  color: #767676;
  text-transform: uppercase;
  input {
    display:none;
  }
  div {
    margin-bottom: 10px;
    input + label span {
      display:inline-block;
      width:19px;
      height:19px;
      margin:-1px 4px 0 0;
      vertical-align:middle;
      cursor:pointer;
      -moz-border-radius:  50%;
      border-radius:  50%;
      background-color: #cbd0d2;
    }
    input:checked + label span {
      background-color: #767676;
    }
  }
}

.pubLabel {
  margin-bottom: 10px;
  margin-top: -5px;
  font-family: "PNLight";
  text-transform: none;
}



.field-summary {
  width: 880px;
  height: 161px;
  float: left;
  margin-bottom: 30px;
}




.field-col-2 {
  width: 527px;
}
.field-col-3 {
  width: 343px;
}


.uploadXLSForm {
  margin-top: 30px;
  margin-left: 117px;
  margin-bottom: 100px;
}



