// Place all the styles related to the user_admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new_user .field {
  margin-bottom: 15px;
}

.createNewWrapper {
  padding-left: 117px;
  padding-right: 117px;
}

.createUserButton {
  float:none;
  margin-top: 30px;
  padding-bottom: 50px;
}

.createUserButton span {
  width: 150px;
}

.edit_user {
  margin-left: 117px;
}
