.tooltipster-miniimg {
	border-radius: 5px;
	background: #fff;
	box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
	color: #2c2c2c;
	border:1px solid #d1d3d4;
}
.tooltipster-miniimg .tooltipster-content {
	line-height: 16px;
	padding: 8px 15px;
	font-family: "PNReg";
	font-size: 14px;
	color:#797c9F;
}