<div class="header adminHeader">
  <div class="headerWrapper">
    <div class="logo"><a href="/home"><%= image_tag("fito-logo_secondary.svg", class: "menuLogo adminMenuLogo")  %></a></div>
    <div class="navBar">
      <a href="/admin/messages/new/all">SEND MESSAGE</a>
      <a href="/admin">MANAGE USERS</a>
      <a href="/admin/content">MANAGE CMS</a>
      <!-- <a href="">SURVEY RESULTS</a> -->
      <a href="/profile"><%= image_tag("icon-settings.svg", class: "menuIcon adminMenuIcon") %></a>
    </div>
  </div>
</div>
