<div class="header adminHeader">
  <div class="headerWrapper">
    <div class="logo"><a href="/home"><%= image_tag("fito-logo_secondary.svg", class: "menuLogo adminMenuLogo")  %></a></div>
    <div class="navBar">
      <% if current_page?('/admin/messages/new/all') %>
      <div class="hoverDiv adminHover active"><a href="/admin/messages/new/all">SEND MESSAGE</a></div>
      <% else %>
      <div class="hoverDiv adminHover"><a href="/admin/messages/new/all">SEND MESSAGE</a></div>
      <% end %>
      <% if controller.controller_name == "user_admin" %>
      <div class="hoverDiv adminHover active"><a href="/admin">MANAGE USERS</a></div>
      <% else %>
      <div class="hoverDiv adminHover"><a href="/admin">MANAGE USERS</a></div>
      <% end %>
      <% if current_page?('/admin/content') %>
      <div class="hoverDiv adminHover active"><a href="/admin/content">MANAGE CMS</a></div>
      <% else %>
      <div class="hoverDiv adminHover"><a href="/admin/content">MANAGE CMS</a></div>
      <% end %>
      <!-- <a href="">SURVEY RESULTS</a> -->
      <div class="hoverDiv adminHover menuIconOptions"><div class="icon icon-icon-settings menuIcon adminIcon"></div></div>
    </div>
    <div class="logoutDrop">
      <div class="icon icon-icon-top-nubs-gray dropNub dropAdminNub"></div>
      <div class="menuDropItem"><a href="/logout">SIGN OUT</a></div>
      <div class="menuDropItem"><a href="/profile">MY PROFILE</a></div>
      <div class="menuDropItem settingsDropItem">ACCOUNT SETTINGS</div>
      <div class="settingsDropWrapper">
        <div class="settingsDropDiv">
          <div class="settingsDropDivText">
            Receive an email when a user's profile is updated or edited
          </div>
          <div class="icon icon-selection-true"></div>
        </div>
      </div>
    </div>
  </div>
</div>
