<footer class="footer">
  <div class="footWrapper">
    <div class="logoFoot">
      <a href="/home">

        <%= image_tag("fito-logo.svg", class: "menuLogo break-2-hide")  %>
        <%= image_tag("fito-logo-2lines.svg", class: "menuLogo break-2-show")  %>

      </a>
    </div>
    <div class="copyrightFoot"><span class="year">&copy;2015</span> <span class="name">Enterprise Technology Research</span></div>

    <div class="footNav">
      <a href="">About ETR</a>
      <a href="">Contact</a>
      <a href="">ETR&amp;D</a>
      <a href="">Terms of Use</a>
      <a href="">Privacy Policy</a>
    </div>
  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68651474-1', 'auto');
  ga('send', 'pageview');

</script>
