<footer class="footer">
  <div class="footWrapper">
    <div class="logoFoot">
      <a href="/home">

        <%= image_tag("fito-logo.svg", class: "menuLogo break-2-hide")  %>
        <%= image_tag("fito-logo-2lines.svg", class: "menuLogo break-2-show")  %>

      </a>
    </div>
    <div class="copyrightFoot"><span class="year">&copy;2015</span> <span class="name">Enterprise Technology Research</span></div>

    <div class="footNav">
      <a href="/about">About ETR</a>
      <a href="mailto:research@etechnologyresearch.com">Contact</a>
      <a href="http://www.etrd.com" target="_blank">ETR&amp;D</a>
      <a href="">Terms of Use</a>
      <a href="">Privacy Policy</a>
    </div>
  </div>
</footer>
