<div class="header">
  <div class="headerWrapper">
    <div class="logo"><a href="/home"><%= image_tag("fito-logo.svg", class: "menuLogo")  %></a></div>
    <div class="navBar">
      <a href="/search">SEARCH</a>
      <a href="/connections">CONNECTIONS</a>
      <a href="/messages"><%= image_tag("icon-mail.svg", class: "menuIcon") %></a>
      <a href="/profile"><%= image_tag("icon-profile.svg", class: "menuIcon") %></a>
    </div>
  </div>
</div>
