<div class="header">
  <div class="headerWrapper">
    <div class="logo"><a href="/home"><%= image_tag("fito-logo.svg", class: "menuLogo")  %></a></div>
    <div class="navBar">
    <% if current_user.admin %>
      <div class="hoverDiv"><a href="/admin">ADMIN</a></div>
    <% end %>
      <div class="hoverDiv"><a href="/search">SEARCH</a></div>
      <div class="hoverDiv"><a href="/connections">CONNECTIONS</a></div>
      <div class="hoverDiv mailMenuIcon"><a href="/messages"><div class="icon icon-icon-mail menuIcon"></div></a></div>
      <div class="mailMenuDrop">

      </div>
      <div class="hoverDiv"><a href="/profile"><div class="icon icon-icon-profile menuIcon"></div></a></div>
    </div>
  </div>
</div>
