<div class="header">
  <div class="headerWrapper">
    <div class="logo"><a href="/">

      <%= image_tag("fito-logo.svg", class: "menuLogo break-2-hide")  %>
      <%= image_tag("fito-logo-2lines.svg", class: "menuLogo break-2-show")  %>

    </a></div>

    <div class="navBar">

    </div>

  </div>
</div>
